force-app/main/default/flows/Add_New_Medications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Screen</name>
        <label>Update Screen</label>
        <locationX>490</locationX>
        <locationY>2846</locationY>
        <actionName>c:UpdateScreen</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:UpdateScreen</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_to_Cycle_Medication_Collections</name>
        <label>Add to Cycle Medication Collections</label>
        <locationX>578</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>CycleMedicationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleMedicationVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Medications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_cycke_ID</name>
        <label>assign cycke ID</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>cycleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Master_Medications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Icons</name>
        <label>Assign Icons</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>MediactionSelectionIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:search</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MediactionSelectionIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:lead_list</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MediactionSelectionIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:work_plan_template</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Medications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medication_Variable</name>
        <label>Assign Medication Variable</label>
        <locationX>578</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>SingleMedicationVariable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CycleMedicationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleMedicationVariable.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cycleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleMedicationVariable.Medication_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Medications.Medication_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleMedicationVariable.Dosage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Medications.Dosage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleMedicationVariable.Regime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Medications.Regime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleMedicationVariable.Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Medications.Units__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleMedicationVariable.Linked_Master_Medication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Medications.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleMedicationVariable.Medication_Start_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Medications.Normal_Start_Day__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleMedicationVariable.Medication_End_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Medications.Normal_End_Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Cycle_Medication_Collections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medications_to_Selected_Meds_From_Template</name>
        <label>Assign Medications to Selected Meds From Template</label>
        <locationX>754</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>SelectedMedications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Template_Medication</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_All_Task_Item_Collection</name>
        <label>Assign to All Task Item Collection</label>
        <locationX>754</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>AllTaskItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_All_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Template_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_Med_to_Selection</name>
        <label>Copy 1 of Add Med to Selection</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>SelectedMedications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Master_Medication</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Medications</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>How_to_Select_Meds</name>
        <label>How to Select Meds</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Search</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MedicationSelectType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Search for Medications</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_for_Meds</targetReference>
            </connector>
            <label>Search</label>
        </rules>
        <rules>
            <name>Table</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MedicationSelectType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select Medication From Table</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medication_Table_Screen</targetReference>
            </connector>
            <label>Table</label>
        </rules>
        <rules>
            <name>Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MedicationSelectType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Choose Medication Template</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Template_Record_ID</targetReference>
            </connector>
            <label>Template</label>
        </rules>
    </decisions>
    <description>Allows the addition of cycle medications</description>
    <environments>Default</environments>
    <formulas>
        <name>CycleMedicationName</name>
        <dataType>String</dataType>
        <expression>{!Selected_Medications.Medication_Name__c}&amp;&quot; - &quot;&amp;{!Get_Cycle.Patient__r.LastName}</expression>
    </formulas>
    <interviewLabel>{!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add New Medications</label>
    <loops>
        <name>Loop_all_Items</name>
        <label>Loop all Items</label>
        <locationX>666</locationX>
        <locationY>1622</locationY>
        <collectionReference>AllTaskItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Template_Medication</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Selected_Medications</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Selected_Medications</name>
        <label>Selected Medications</label>
        <locationX>490</locationX>
        <locationY>2114</locationY>
        <collectionReference>SelectedMedications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Medication_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Cycle_Medications</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Template_Collection</name>
        <label>Template Collection</label>
        <locationX>666</locationX>
        <locationY>1214</locationY>
        <collectionReference>TemplateCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_All_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_all_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cycle_Medications</name>
        <label>Create Cycle Medications</label>
        <locationX>490</locationX>
        <locationY>2522</locationY>
        <connector>
            <targetReference>Edit_Medications</targetReference>
        </connector>
        <inputReference>CycleMedicationCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Items</name>
        <label>Get All Items</label>
        <locationX>754</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_All_Task_Item_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Task_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Template_Collection.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task_Template_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>490</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_cycke_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Master_Medication</name>
        <label>Get Master Medication</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Add_Med_to_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedMedicationIDLookup</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Master_Medication_List__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Master_Medications</name>
        <label>Get Master Medications</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Icons</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Master_Medication_List__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medication_Templates</name>
        <label>Get Medication Templates</label>
        <locationX>666</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Medication_Table_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Template_Record_ID.RecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Clinic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Template_Medication</name>
        <label>Get Template Medication</label>
        <locationX>754</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Medications_to_Selected_Meds_From_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_all_Items.Master_Medication_List__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Master_Medication_List__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>490</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Medications</name>
        <label>Update Medications</label>
        <locationX>490</locationX>
        <locationY>2738</locationY>
        <connector>
            <targetReference>Update_Screen</targetReference>
        </connector>
        <inputReference>UpdatedMedications</inputReference>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Medication_Table_Screen</name>
        <label>Copy 1 of Medication Table Screen</label>
        <locationX>666</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Template_Collection</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_MedicationText</name>
            <fieldText>&lt;p&gt;Please select the medications template that you would like to use. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MedicationTemplate</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Task_Template__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Task_Template__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Discription__c,Template_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Name:Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:258, Discription__c:524, Template_Type__c:523</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Medication_Templates</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>TemplateCollection</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Edit_Medications</name>
        <label>Edit Medications</label>
        <locationX>490</locationX>
        <locationY>2630</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Medications</targetReference>
        </connector>
        <fields>
            <name>EditText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Please &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;EDIT &lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;medications for this cycle (dosage and regime) below. Note that you must press save before pressing next. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EditMedications</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cycle_Medication__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Cycle_Medication__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Medication_Start_Day__c,Medication_End_Day__c,Dosage__c,Regime__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:210, Medication_Start_Day__c:169, Medication_End_Day__c:172, Dosage__c:155, Regime__c:143</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>CycleMedicationCollection</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UpdatedMedications</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Medication_Table_Screen</name>
        <label>Medication Table Screen</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selected_Medications</targetReference>
        </connector>
        <fields>
            <name>MedicationText</name>
            <fieldText>&lt;p&gt;Please select the medications that you would like to add to this cycle. Please note that you can edit these to be cycle specific on the next screen. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MedicationSelectionTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Master_Medication_List__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Master_Medication_List__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Master_Medications</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Medication_Type__c,Dosage__c,Units__c,Regime__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Name:Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:258, Medication_Type__c:258, Dosage__c:258, Units__c:258, Regime__c:258</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedMedications</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_for_Meds</name>
        <label>Search for Meds</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Master_Medication</targetReference>
        </connector>
        <fields>
            <name>MedicationLookUp</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Master_Medication_List__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>SelectedMedicationIDLookup</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primarySearchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Search Medications</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeHolder</name>
                <value>
                    <stringValue>Search</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedMedicationIDLookup</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>spacer</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Medications</name>
        <label>Select Medications</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>How_to_Select_Meds</targetReference>
        </connector>
        <fields>
            <name>MedicationSelectType</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Search for Medications&quot;,&quot;value&quot;:&quot;From Search&quot;},{&quot;label&quot;:&quot;Select Medication From Table&quot;,&quot;value&quot;:&quot;From Table&quot;},{&quot;label&quot;:&quot;Choose Medication Template&quot;,&quot;value&quot;:&quot;Choose an preconfigured template&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>How would you like to select your medications?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>MediactionSelectionIcons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isResponsive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>Developer_Lab_Template_Advanced</sourceTemplate>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Template_Record_ID</name>
        <label>Get Template Record ID</label>
        <locationX>666</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Get_Medication_Templates</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Medication Templates</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AllTaskItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task_Template_Items__c</objectType>
    </variables>
    <variables>
        <name>CreatedCycleMedications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>cycleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CycleMedicationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>MediactionSelectionIcons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedMedicationIDLookup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedMedications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Master_Medication_List__c</objectType>
    </variables>
    <variables>
        <name>SingleMedicationVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>TemplateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task_Template__c</objectType>
    </variables>
    <variables>
        <name>UpdatedMedications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
</Flow>
