force-app/main/default/flows/Add_New_Medications_Cycle_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_to_Cycle_Medication_Collections</name>
        <label>Add to Cycle Medication Collections</label>
        <locationX>440</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CycleMedicationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleMedicationVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Medications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medication_Variable</name>
        <label>Assign Medication Variable</label>
        <locationX>440</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SingleMedicationVariable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CycleMedicationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleMedicationVariable.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cycleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleMedicationVariable.Medication_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Medications.Medication_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleMedicationVariable.Dosage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Medications.Dosage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleMedicationVariable.Regime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Medications.Regime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleMedicationVariable.Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Medications.Units__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleMedicationVariable.Linked_Master_Medication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Medications.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleMedicationVariable.Medication_Start_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Medications.Normal_Start_Day__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleMedicationVariable.Medication_End_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Medications.Normal_End_Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Cycle_Medication_Collections</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Selected_Meds_is_Blank</name>
        <label>Selected Meds is Blank</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Selected_Medications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yesy_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedMedications</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yesy Blank</label>
        </rules>
    </decisions>
    <description>A specific subflow that takes in a medication variable from the New Cycle Flow and creates and displays medications.</description>
    <environments>Default</environments>
    <formulas>
        <name>CycleMedicationName</name>
        <dataType>String</dataType>
        <expression>{!Selected_Medications.Medication_Name__c}&amp;&quot; - &quot;&amp;{!Get_Cycle.Patient__r.LastName}</expression>
    </formulas>
    <interviewLabel>Add New Medications Cycle Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add New Medications Cycle Subflow</label>
    <loops>
        <name>Selected_Medications</name>
        <label>Selected Medications</label>
        <locationX>352</locationX>
        <locationY>350</locationY>
        <collectionReference>SelectedMedications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Medication_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Cycle_Medications</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cycle_Medications</name>
        <label>Create Cycle Medications</label>
        <locationX>352</locationX>
        <locationY>758</locationY>
        <inputReference>CycleMedicationCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Selected_Meds_is_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cycleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>Developer_Basic_Flow_Template</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllTaskItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task_Template_Items__c</objectType>
    </variables>
    <variables>
        <name>CreatedCycleMedications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>cycleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CycleMedicationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>CycleMedsVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>MediactionSelectionIcons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedMedicationIDLookup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedMedications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Master_Medication_List__c</objectType>
    </variables>
    <variables>
        <name>SingleMedicationVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>TemplateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task_Template__c</objectType>
    </variables>
    <variables>
        <name>UpdatedMedications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
</Flow>
