force-app/main/default/flows/Add_Scan_Result_to_Cycle_Day_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Cycle_Day_FOund</name>
        <label>Cycle Day FOund</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle_Day</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cycle_Day</targetReference>
            </connector>
            <label>Yes Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Scan_Record</name>
        <label>Is Scan Record</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_Scan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Scan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cycle_Day</targetReference>
            </connector>
            <label>yes Scan</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Add Scan Result to Cycle Day Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Scan Result to Cycle Day Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cycle_Day</name>
        <label>Get Cycle Day</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cycle_Day_FOund</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cycle__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Day_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Result_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle_Day__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cycle_Day</name>
        <label>Update Cycle Day</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle_Day.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Fol_Left_mm__c</field>
            <value>
                <elementReference>$Record.Total_Left_Follicles__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Fol_Right_mm__c</field>
            <value>
                <elementReference>$Record.Total_Right_Follicles__c</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Day__c</object>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Scan_Record</targetReference>
        </connector>
        <object>Result__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
