force-app/main/default/flows/Auto_SMS_Appointment_Reminder_Tomorrow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_SMS</name>
        <label>Send SMS</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <actionName>ClickSendSMS__ClickSendSMSGeneric</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_appointments</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SMSTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>Get_Patient.MobilePhone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ClickSendSMS__ClickSendSMSGeneric</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <description>Auto SMS&apos;s the patient to remind them of their upcoming appointment tomorrow.</description>
    <environments>Default</environments>
    <formulas>
        <name>Tomorrow</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+1</expression>
    </formulas>
    <interviewLabel>Auto Send Appointment Reminder - Tomorrow&apos;s Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto SMS Appointment Reminder - Tomorrow</label>
    <loops>
        <name>Loop_appointments</name>
        <label>Loop appointments</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Appointments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Patient</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Appointments</name>
        <label>Get Appointments</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_appointments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivityDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Tomorrow</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient</name>
        <label>Get Patient</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_SMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_appointments.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Appointments</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-06-20</startDate>
            <startTime>12:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SMSTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!Get_Patient.FirstName}, this is a reminder for your appointment on {!Loop_appointments.RecurrenceStartDateTime}. If you need to cancel this appointment or have any questions please call us on {!Loop_appointments.Clinic__r.Phone__c}.&lt;/p&gt;</text>
    </textTemplates>
</Flow>
