force-app/main/default/flows/Auto_Generate_Pathology_Document.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Pathology_Document</name>
        <label>Generate Pathology Document</label>
        <locationX>440</locationX>
        <locationY>1092</locationY>
        <actionName>docb__TSDocuments</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>a02GC00002aJSbgYAG</stringValue>
            </value>
        </inputParameters>
        <nameSegment>docb__TSDocuments</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>No_Content_Docs</name>
        <label>No Content Docs</label>
        <locationX>792</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Send_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Content_Document_Links</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>None Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Tests</name>
        <label>No Tests</label>
        <locationX>132</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Loop_Tests</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Tests_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tests</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Tests Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Scan</name>
        <label>Scan?</label>
        <locationX>660</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Loop_Tests</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Scan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Tests.Test_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>scan</stringValue>
                </rightValue>
            </conditions>
            <label>Yes Scan</label>
        </rules>
    </decisions>
    <description>When a pathology request for bloods is created generate the ACL form automatically.</description>
    <environments>Default</environments>
    <interviewLabel>Auto Generate Pathology Document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Generate Pathology Document</label>
    <loops>
        <name>Loop_Tests</name>
        <label>Loop Tests</label>
        <locationX>440</locationX>
        <locationY>492</locationY>
        <collectionReference>Get_Tests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Scan</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Document_Template</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Content_Document_Links</name>
        <label>Get Content Document Links</label>
        <locationX>792</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Content_Docs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Template</name>
        <label>Get Document Template</label>
        <locationX>440</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Pathology_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Clinical Labs Pathology Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>docb__Document_Builder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tests</name>
        <label>Get Tests</label>
        <locationX>132</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Tests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pathology_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pathology_Request_Test__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Pathology_Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Tests</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <scheduledPaths>
            <name>Email_Document</name>
            <connector>
                <targetReference>Get_Content_Document_Links</targetReference>
            </connector>
            <label>Email Document</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>880</locationX>
        <locationY>492</locationY>
        <flowName>Subflow_Send_Better_Email_With_Inputs_For_Quick_Creation</flowName>
        <inputAssignments>
            <name>ContentDocumentLinks</name>
            <value>
                <elementReference>Get_Content_Document_Links</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmailTemplateID</name>
            <value>
                <stringValue>00XGC000003wAX42AM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrgWideEmailAddressID</name>
            <value>
                <stringValue>0D2GC000000Cgys</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PatientEmailAddress</name>
            <value>
                <elementReference>$Record.Patient_Donor__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PatientRecordID</name>
            <value>
                <elementReference>$Record.Patient_Donor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>relatedRecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SenderDisplayName</name>
            <value>
                <stringValue>Nursing Life Fertility</stringValue>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
