force-app/main/default/flows/Auto_Email_Cycle_Medications_Form_to_Pharmacy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Link</name>
        <label>Assign Link</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ContentDocLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Documents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Documents</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cycle_Medication_Form</name>
        <label>Cycle Medication Form?</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_Documents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Medication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Documents.ContentDocument.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Medication Order Form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Link</targetReference>
            </connector>
            <label>Yes Medication</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Auto Email Cycle Medications Form to Pharmacy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Email Cycle Medications Form to Pharmacy</label>
    <loops>
        <name>Loop_Documents</name>
        <label>Loop[ Documents</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Documents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cycle_Medication_Form</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Documents</name>
        <label>Get Documents</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Wait_a_Minute</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>176</locationX>
        <locationY>842</locationY>
        <flowName>Subflow_Send_Better_Email_With_Inputs_For_Quick_Creation</flowName>
        <inputAssignments>
            <name>ContentDocumentLinks</name>
            <value>
                <elementReference>ContentDocLinks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmailTemplateID</name>
            <value>
                <stringValue>00XGC000003wAeK2AU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrgWideEmailAddressID</name>
            <value>
                <stringValue>0D2GC000000Cgys</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PatientEmailAddress</name>
            <value>
                <stringValue>ivf@sydneymcp.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PatientRecordID</name>
            <value>
                <elementReference>PatVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>relatedRecordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SenderDisplayName</name>
            <value>
                <stringValue>Nursing IVF</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AllContentDocument</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>ContentDocLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>PatVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_a_Minute</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait a Minute</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Documents</targetReference>
            </connector>
            <label>el_0</label>
            <offset>1</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
</Flow>
