force-app/main/default/flows/Create_IUI_Proceedure.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Count_Semen_Prep_Events</name>
        <label>Count Semen Prep Events</label>
        <locationX>556</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>CountofSemenPrepEvents</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Semen_Prep_Event</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Events_Found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Events_Found</name>
        <label>Events Found</label>
        <locationX>556</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_More_THan_1_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1_VEnet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountofSemenPrepEvents</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Final_Semen_Prep_Event</targetReference>
            </connector>
            <label>! Event</label>
        </rules>
        <rules>
            <name>More_Than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountofSemenPrepEvents</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>More_THan_1_Screen</targetReference>
            </connector>
            <label>More Than 1</label>
        </rules>
        <rules>
            <name>None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountofSemenPrepEvents</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_More_THan_1_Screen</targetReference>
            </connector>
            <label>None</label>
        </rules>
    </decisions>
    <decisions>
        <name>SP_Source</name>
        <label>SP Source</label>
        <locationX>182</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Get_IUI_Event_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Donor_Sperm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ANZARD.SP_SOURCE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ANZARD_Record</targetReference>
            </connector>
            <label>Donor Sperm</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Scientists</name>
        <collectionReference>AllUsers</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DateValue</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Event_Date_and_Time})</expression>
    </formulas>
    <formulas>
        <name>TMCForIUI</name>
        <dataType>Number</dataType>
        <expression>({!Get_Final_Semen_Prep_Event.Semen_Sample__r.Volume__c}*{!Get_Final_Semen_Prep_Event.Semen_Sample__r.Concentration__c}*{!Get_Final_Semen_Prep_Event.Semen_Sample__r.Prep_Final_Motility__c})/100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Developer Template Laboratory Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create IUI Proceedure</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cycle_Event</name>
        <label>Create Cycle Event</label>
        <locationX>182</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>Update_Cycle</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Doctor__c</field>
            <value>
                <elementReference>Doctor_IUI.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Date_and_Time__c</field>
            <value>
                <elementReference>Event_Date_and_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nurse__c</field>
            <value>
                <elementReference>Nurse_IUI.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_IUI_Event_Record_Type.RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scientist__c</field>
            <value>
                <elementReference>Scientist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Semen_Sample__c</field>
            <value>
                <elementReference>Get_Final_Semen_Prep_Event.Semen_Sample__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Witness__c</field>
            <value>
                <elementReference>Witness</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_ANZARD</name>
        <label>Get ANZARD</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SP_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CYCLE_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ANZARD_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>556</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Scientists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Semen_Prep_Event</name>
        <label>Get Final Semen Prep Event</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_Screen</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Semen_Prep_Record_Type.RecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Semen_Thaw_Record_Type.RecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Semen_Prep_Event</name>
        <label>Get Semen Prep Event</label>
        <locationX>556</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Semen_Prep_Events</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Semen_Prep_Record_Type.RecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Semen_Thaw_Record_Type.RecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>556</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Semen_Prep_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ANZARD_Record</name>
        <label>Update ANZARD Record</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Get_IUI_Event_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ANZARD.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IUI_DATE__c</field>
            <value>
                <elementReference>DateValue</elementReference>
            </value>
        </inputAssignments>
        <object>ANZARD_Data__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cycle</name>
        <label>Update Cycle</label>
        <locationX>182</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Run_Medicare_Subflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>WFPT</stringValue>
            </value>
        </inputAssignments>
        <object>Cycle__c</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_More_THan_1_Screen</name>
        <label>Copy 1 of More THan 1 Screen</label>
        <locationX>556</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_MorethanoneText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;It appears that you have not created a semen prep event. This is not allowed within the current system construct. Please prep some semen before proceeding.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Event_Screen</name>
        <label>Event Screen</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_ANZARD</targetReference>
        </connector>
        <fields>
            <name>TMCandPatientID</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Get_Cycle.Patient_Details_for_Flows__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;TMC: {!TMCForIUI}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Event_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Event_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Event_Date_and_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Event Date and Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Event_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scientist</name>
                    <choiceReferences>Scientists</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_User.Id</elementReference>
                    </defaultValue>
                    <fieldText>Scientist Performing Check</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Witness</name>
                    <choiceReferences>Scientists</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Witness</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Event_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Event_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nurse_IUI</name>
                    <extensionName>l_lookup:Lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>primarySearchField</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Nurse Undertaking IUI</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>custom:custom86</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Event_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Doctor_IUI</name>
                    <extensionName>l_lookup:Lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>Doctor__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queryCondition</name>
                        <value>
                            <stringValue>Internal_Doctor__c=TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>primarySearchField</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Doctor Undertaking IUI</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>custom:custom58</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>More_THan_1_Screen</name>
        <label>More THan 1 Screen</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MorethanoneText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;It appears that you have more than 1 semen prep event. This is not allowed within the current system construct. Please prep some semen before proceeding.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>Developer_Lab_Template_Advanced</sourceTemplate>
    <start>
        <locationX>430</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_IUI_Event_Record_Type</name>
        <label>Get IUI Event Record Type</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Create_Cycle_Event</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>IUI Event</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Scientists</name>
        <label>Get Scientists</label>
        <locationX>556</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <flowName>Developer_Select_Users_From_Group</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AllUsers</assignToReference>
            <name>FinalUsers</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Semen_Prep_Record_Type</name>
        <label>Get Semen Prep Record Type</label>
        <locationX>556</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Semen_Thaw_Record_Type</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Semen Prep</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Semen_Thaw_Record_Type</name>
        <label>Get Semen Thaw Record Type</label>
        <locationX>556</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Semen_Prep_Event</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Semen Thaw</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Run_Medicare_Subflow</name>
        <label>Run Medicare Subflow</label>
        <locationX>182</locationX>
        <locationY>1946</locationY>
        <flowName>Medicare_IUI</flowName>
        <inputAssignments>
            <name>CycleEventID</name>
            <value>
                <elementReference>Create_Cycle_Event</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AllUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>CountofSemenPrepEvents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
