force-app/main/default/flows/Create_Day_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Alert_Email</name>
        <label>Send Alert Email</label>
        <locationX>798</locationX>
        <locationY>5666</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_Patient_Demographics</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Clinic_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Outstanding Invoice Against Cycle With Day 1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>InvoiceEmailBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>All_Cycle_Meds</name>
        <label>All Cycle Meds</label>
        <locationX>1018</locationX>
        <locationY>7886</locationY>
        <assignmentItems>
            <assignToReference>AllCycleMedsVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MedicationVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Start_and_End_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cal_Linkage_from_MultiCal</name>
        <label>Assign Cal Linkage from MultiCal</label>
        <locationX>578</locationX>
        <locationY>9518</locationY>
        <assignmentItems>
            <assignToReference>CalendarIDVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OPU_Calendar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Calendar_For_OPU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cal_Linkage_from_Single_Cal</name>
        <label>Assign Cal Linkage from Single Cal</label>
        <locationX>842</locationX>
        <locationY>9518</locationY>
        <assignmentItems>
            <assignToReference>CalendarIDVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_Calendar_linkage.Calendar_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Calendar_For_OPU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Icons</name>
        <label>Assign Icons</label>
        <locationX>600</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom12</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Down_Reg_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Med</name>
        <label>Assign Med</label>
        <locationX>468</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>MedicationVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meds.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Start_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medications</name>
        <label>Assign Medications</label>
        <locationX>1018</locationX>
        <locationY>7778</locationY>
        <assignmentItems>
            <assignToReference>MedicationVar.Medication_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MedStartDateCalculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicationVar.Medication_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MedEndDateCalculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicationVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Start_and_End_Dates.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Cycle_Meds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Start_Time</name>
        <label>Assign Start Time</label>
        <locationX>974</locationX>
        <locationY>8810</locationY>
        <assignmentItems>
            <assignToReference>StartTimeVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Sorted_Events.EndDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Sorted_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Start_Var</name>
        <label>Assign Start Var</label>
        <locationX>534</locationX>
        <locationY>8594</locationY>
        <assignmentItems>
            <assignToReference>StartTimeVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpectedOPUDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Calendar_linkage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asssign_OPU_Event_Data</name>
        <label>Assign OPU Event Data</label>
        <locationX>710</locationX>
        <locationY>9926</locationY>
        <assignmentItems>
            <assignToReference>OPUEventVar.Procedure_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OPU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OPUEventVar.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OPUEventVar.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Patient__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OPUEventVar.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartTimeVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OPUEventVar.DurationInMinutes</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OPUEventVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalendarIDVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OPUEventVar.Tentative__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OPUEventVar.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OPUName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OPUEventVar.Insemination_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Insemination_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OPUEventVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OPU_Event_Record_Type.RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_OPU_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Linkages</name>
        <label>Count Linkages</label>
        <locationX>710</locationX>
        <locationY>9194</locationY>
        <assignmentItems>
            <assignToReference>LinkageCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Calendar_linkage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Greater_Than_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cycle_Day_Assignmnet</name>
        <label>Cycle Day Assignmnet</label>
        <locationX>1018</locationX>
        <locationY>6938</locationY>
        <assignmentItems>
            <assignToReference>CycleDayVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Days</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Edit_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Edit_Var</name>
        <label>Edit Var</label>
        <locationX>1018</locationX>
        <locationY>7046</locationY>
        <assignmentItems>
            <assignToReference>CycleDayVar.Medication__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Updated_Cycle_Days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Screens_Returned_Assignmnet</name>
        <label>No Screens Returned Assignmnet</label>
        <locationX>622</locationX>
        <locationY>3410</locationY>
        <assignmentItems>
            <assignToReference>NoScreensReturned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Patinet_ART_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updated_Cycle_Days</name>
        <label>Updated Cycle Days</label>
        <locationX>1018</locationX>
        <locationY>7154</locationY>
        <assignmentItems>
            <assignToReference>AllCycleDays</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CycleDayVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Days</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_By_End_Time</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort By End Time</label>
        <locationX>886</locationX>
        <locationY>8594</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_OPU_Events</collectionReference>
        <connector>
            <targetReference>Loop_Sorted_Events</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>EndDateTime</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Count_Greater_Than_1</name>
        <label>Count Greater Than 1</label>
        <locationX>710</locationX>
        <locationY>9302</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_Calendar_linkage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Extra_Calendars</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LinkageCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Calendar</targetReference>
            </connector>
            <label>Extra Calendars</label>
        </rules>
    </decisions>
    <decisions>
        <name>Day_1_Already_Exist</name>
        <label>Day 1 Already Exist?</label>
        <locationX>446</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Pricing_Type_Not_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Day_1_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.Day_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Day_1_Warning</targetReference>
            </connector>
            <label>Day 1 Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Down_Reg</name>
        <label>Down Reg</label>
        <locationX>600</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Day_1_Already_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_DownReg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DownReg.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Start Down Reg</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Medications</targetReference>
            </connector>
            <label>Yes DownReg</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_Cycle</name>
        <label>In Cycle</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Icons</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Incycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Cycle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Day_1_Already_Exist</targetReference>
            </connector>
            <label>Yes Incycle</label>
        </rules>
    </decisions>
    <decisions>
        <name>Infectious_Positive</name>
        <label>Infectious Positive</label>
        <locationX>1172</locationX>
        <locationY>3710</locationY>
        <defaultConnector>
            <targetReference>Loop_Patinet_ART_Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Both_Positive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Patinet_ART_Results.Positive_Infectious_Screen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Valid_Screens_0</targetReference>
            </connector>
            <label>Positive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Issues</name>
        <label>Issues?</label>
        <locationX>930</locationX>
        <locationY>4634</locationY>
        <defaultConnector>
            <targetReference>Get_Invoices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Issues</name>
            <conditionLogic>1 OR 2 OR (3 AND 6) OR (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>NoReferral_Exists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>No_Pricing_Set</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoScreensReturned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Not_Valid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Create Fertility</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cycle.Patient__r.ART_Bloods_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Valid_Referral</targetReference>
            </connector>
            <label>Yes Issues</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Events_on_that_Day</name>
        <label>No Events on that Day</label>
        <locationX>710</locationX>
        <locationY>8486</locationY>
        <defaultConnector>
            <targetReference>Sort_By_End_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OPU_Events</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Start_Var</targetReference>
            </connector>
            <label>None Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>OPU_Cycle</name>
        <label>OPU Cycle?</label>
        <locationX>930</locationX>
        <locationY>8270</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_OPU_Based_Cycle</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IVF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cycle.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Duo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cycle.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Egg Freeze</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cycle.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Fresh Egg</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OPU_Events</targetReference>
            </connector>
            <label>Yes OPU Based Cycle</label>
        </rules>
    </decisions>
    <decisions>
        <name>Outstanding_Invoices</name>
        <label>Outstanding Invoices</label>
        <locationX>930</locationX>
        <locationY>5342</locationY>
        <defaultConnector>
            <targetReference>Get_Patient_Demographics</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invoices_with_Balance_Remaining</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoices</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outstanding_Invoice</targetReference>
            </connector>
            <label>Invoices with Balance Remaining</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner</name>
        <label>Partner</label>
        <locationX>446</locationX>
        <locationY>3002</locationY>
        <defaultConnector>
            <targetReference>Get_Partner_Screens</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.Patient__r.Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valid_Screens</targetReference>
            </connector>
            <label>No Partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Patient_is_a_Donor</name>
        <label>Patient is a Donor</label>
        <locationX>754</locationX>
        <locationY>4850</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Donor</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Patient.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Donor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Proceed_Check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Invoices</targetReference>
            </connector>
            <label>Yes Donor/Overwrite</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pricing_Type_Not_Set</name>
        <label>Pricing Type Not Set</label>
        <locationX>446</locationX>
        <locationY>2594</locationY>
        <defaultConnector>
            <targetReference>Get_Patient_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Pricing_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.Pricing_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Patient_Record_Type</targetReference>
            </connector>
            <label>No Pricing Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Day_Set</name>
        <label>Start Day Set?</label>
        <locationX>1150</locationX>
        <locationY>7670</locationY>
        <defaultConnector>
            <targetReference>Set_Start_and_End_Dates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Start_Day_There</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Start_and_End_Dates.Medication_Start_Day__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Medications</targetReference>
            </connector>
            <label>Yes Start Day There</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Fin_Consent</name>
        <label>Valid Fin Consent</label>
        <locationX>930</locationX>
        <locationY>4442</locationY>
        <defaultConnector>
            <targetReference>Issues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Valid_Fin_Consent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issues</targetReference>
            </connector>
            <label>Not Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Referral_Exists</name>
        <label>Valid Referral Exists</label>
        <locationX>930</locationX>
        <locationY>4034</locationY>
        <defaultConnector>
            <targetReference>Get_Financial_Consent_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoReferral_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Valis_Referals</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cycle.Medicare_Claimable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Financial_Consent_Record_Type</targetReference>
            </connector>
            <label>No Referral Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Screens</name>
        <label>Valid Screens</label>
        <locationX>446</locationX>
        <locationY>3302</locationY>
        <defaultConnector>
            <targetReference>No_Screens_Returned_Assignmnet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Screens Returned</defaultConnectorLabel>
        <rules>
            <name>Valid_Screens_for_Patinet_Only</name>
            <conditionLogic>3 OR (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Screens</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cycle.Patient__r.Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cycle.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Egg Freeze</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Patinet_ART_Results</targetReference>
            </connector>
            <label>Valid Screens for Patinet Only</label>
        </rules>
        <rules>
            <name>Valid_Screens_for_Patient_and_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Screens</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cycle.Patient__r.Partner__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Partner_Screens</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Patinet_ART_Results</targetReference>
            </connector>
            <label>Valid Screens for Patient and Partner `</label>
        </rules>
    </decisions>
    <description>Creates a Day 1 Cycle Event.</description>
    <dynamicChoiceSets>
        <name>Calendars</name>
        <collectionReference>Get_Calendar_linkage</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Calendar_Linkage__c</object>
        <valueField>Calendar_ID__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClinicNurseCollection</name>
        <collectionReference>ClinicNurses</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Nurses</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Nurse__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ARTCheckBooleanforARTCheckbox</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    {!NoScreensReturned},
    {!Get_Patient.ART_Bloods_Completed_Date__c} &gt; (TODAY() - 730)
)</expression>
    </formulas>
    <formulas>
        <name>ExpectedOPUDate</name>
        <dataType>Date</dataType>
        <expression>{!Select_Day_1}+14</expression>
    </formulas>
    <formulas>
        <name>MedEndDateCalculation</name>
        <dataType>Date</dataType>
        <expression>{!Select_Day_1}+{!Set_Start_and_End_Dates.Medication_End_Day__c}-1</expression>
    </formulas>
    <formulas>
        <name>MedStartDateCalculation</name>
        <dataType>Date</dataType>
        <expression>{!Select_Day_1}+{!Set_Start_and_End_Dates.Medication_Start_Day__c}-1</expression>
    </formulas>
    <formulas>
        <name>OPUName</name>
        <dataType>String</dataType>
        <expression>&quot;Tentative - OPU - &quot;&amp;{!Get_Patient.LastName}</expression>
    </formulas>
    <formulas>
        <name>x24Monthsago</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDateTime}-730</expression>
    </formulas>
    <interviewLabel>{!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Day 1</label>
    <loops>
        <name>Loop_All_Days</name>
        <label>Loop All Days</label>
        <locationX>930</locationX>
        <locationY>6830</locationY>
        <collectionReference>Get_All_Cycle_Day_Events</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cycle_Day_Assignmnet</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCycle_Days</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Patinet_ART_Results</name>
        <label>Loop Patinet ART Results</label>
        <locationX>446</locationX>
        <locationY>3602</locationY>
        <collectionReference>Get_Screens</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Infectious_Positive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Valis_Referals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Sorted_Events</name>
        <label>Loop Sorted Events</label>
        <locationX>886</locationX>
        <locationY>8702</locationY>
        <collectionReference>Get_OPU_Events</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Start_Time</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Calendar_linkage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Set_Start_and_End_Dates</name>
        <label>Set Start and End Dates</label>
        <locationX>930</locationX>
        <locationY>7562</locationY>
        <collectionReference>Get_Cycle_Medications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Start_Day_Set</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Meds</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Day_1_Event</name>
        <label>Create Day 1 Event</label>
        <locationX>930</locationX>
        <locationY>6506</locationY>
        <connector>
            <targetReference>Run_Medicare_Day_1_Flow</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Date_and_Time__c</field>
            <value>
                <elementReference>Select_Day_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nurse__c</field>
            <value>
                <elementReference>NurseLookup.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Cycle_Day_1_Event_Record_Type.RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Expiry__c</field>
            <value>
                <elementReference>Get_Valis_Referals.Referral_Expiry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referring_Doctor__c</field>
            <value>
                <elementReference>Get_Valis_Referals.Referring_Doctor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_on_Day_1__c</field>
            <value>
                <elementReference>Patient_Weight</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Down_Reg_Event</name>
        <label>Create Down Reg Event</label>
        <locationX>468</locationX>
        <locationY>1646</locationY>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Date_and_Time__c</field>
            <value>
                <elementReference>MedicationVar.Medication_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Down_Reg_Event.RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_OPU_Var</name>
        <label>Create OPU Var</label>
        <locationX>710</locationX>
        <locationY>10034</locationY>
        <inputReference>OPUEventVar</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Cycle_Event</name>
        <label>Delete Cycle Event</label>
        <locationX>50</locationX>
        <locationY>2354</locationY>
        <connector>
            <targetReference>Pricing_Type_Not_Set</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Pricing_Type_Not_Set</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Cycle_Event_c__c.Cycle_Event_Day_1__c</elementReference>
            </value>
        </filters>
        <object>Cycle_Event__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Medicare_Items</name>
        <label>Delete Medicare Items</label>
        <locationX>50</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Delete_Cycle_Event</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Delete_Cycle_Event</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>13200</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>13201</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>13218</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>13203</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>13209</stringValue>
            </value>
        </filters>
        <object>Claim_Medicare_Items__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Copy_1_of_Get_Calendar_linkage</name>
        <label>Copy 1 of Get Calendar linkage</label>
        <locationX>842</locationX>
        <locationY>9410</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Cal_Linkage_from_Single_Cal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OPU_s__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Calendar_Linkage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Admin_Group</name>
        <label>Get Admin Group</label>
        <locationX>798</locationX>
        <locationY>5558</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Alert_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Admin</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Cycle_Day_Events</name>
        <label>Get All Cycle Day Events</label>
        <locationX>930</locationX>
        <locationY>6722</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Day__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Calendar_For_OPU</name>
        <label>Get Calendar For OPU</label>
        <locationX>710</locationX>
        <locationY>9710</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OPU_Event_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CalendarIDVar</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Calendar</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Calendar_linkage</name>
        <label>Get Calendar linkage</label>
        <locationX>710</locationX>
        <locationY>9086</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Linkages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OPU_s__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Calendar_Linkage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Patient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle_Medications</name>
        <label>Get Cycle Medications</label>
        <locationX>930</locationX>
        <locationY>7454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Start_and_End_Dates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoices</name>
        <label>Get Invoices</label>
        <locationX>930</locationX>
        <locationY>5234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Outstanding_Invoices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Patient__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Amount_Outstanding__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medications</name>
        <label>Get Medications</label>
        <locationX>468</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pick_Medication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OPU_Events</name>
        <label>Get OPU Events</label>
        <locationX>710</locationX>
        <locationY>8378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Events_on_that_Day</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivityDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExpectedOPUDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Procedure_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OPU</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Screens</name>
        <label>Get Partner Screens</label>
        <locationX>534</locationX>
        <locationY>3110</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Screens</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Patient_Record_Type.RecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Patient__r.Partner__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Result_Date_and_Time__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>x24Monthsago</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient</name>
        <label>Get Patient</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>In_Cycle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Patient__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Demographics</name>
        <label>Get Patient Demographics</label>
        <locationX>930</locationX>
        <locationY>5858</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Height_and_Weight</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Patient__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Screens</name>
        <label>Get Patient Screens</label>
        <locationX>446</locationX>
        <locationY>2894</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Patient_Record_Type.RecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Patient__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Result_Date_and_Time__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>x24Monthsago</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Allowed_to_Undertake_Nursing_Duties__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Valid_Fin_Consent</name>
        <label>Get Valid Fin Consent</label>
        <locationX>930</locationX>
        <locationY>4334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Fin_Consent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Financial_Consent_Record_Type.RecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Valid_Consent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Valis_Referals</name>
        <label>Get Valid Referrals</label>
        <locationX>930</locationX>
        <locationY>3926</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Referral_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Patient__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Valid_Referral__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cycle</name>
        <label>Update Cycle</label>
        <locationX>930</locationX>
        <locationY>6290</locationY>
        <connector>
            <targetReference>Get_Cycle_Day_1_Event_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Day_1_Cycle_Event_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_1__c</field>
            <value>
                <elementReference>Select_Day_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Cycle</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_on_Day_1__c</field>
            <value>
                <elementReference>Patient_Weight</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cycle_for_Down_Reg</name>
        <label>Update Cycle for Down Reg</label>
        <locationX>468</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Get_Down_Reg_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Cycle</stringValue>
            </value>
        </inputAssignments>
        <object>Cycle__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Med</name>
        <label>Update Med</label>
        <locationX>468</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Update_Cycle_for_Down_Reg</targetReference>
        </connector>
        <inputReference>MedicationVar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meds</name>
        <label>Update Meds</label>
        <locationX>930</locationX>
        <locationY>8162</locationY>
        <connector>
            <targetReference>OPU_Cycle</targetReference>
        </connector>
        <inputReference>AllCycleMedsVar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patient</name>
        <label>Update Patient</label>
        <locationX>930</locationX>
        <locationY>6074</locationY>
        <connector>
            <targetReference>Selected_Day_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Patient_Demographics.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Height__c</field>
            <value>
                <elementReference>Patient_Height</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight__c</field>
            <value>
                <elementReference>Patient_Weight</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCycle_Days</name>
        <label>UpdateCycle Days</label>
        <locationX>930</locationX>
        <locationY>7346</locationY>
        <connector>
            <targetReference>Get_Cycle_Medications</targetReference>
        </connector>
        <inputReference>AllCycleDays</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Day_1_Warning</name>
        <label>Day 1 Warning</label>
        <locationX>50</locationX>
        <locationY>2138</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_Medicare_Items</targetReference>
        </connector>
        <fields>
            <name>WarningText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;A Day 1 (&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Cycle.Day_1__c}) &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;already exists on this cycle. Are you sure you want to re-enter it? This can have significant consequences if done flippantly.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Down_Reg_Decision</name>
        <label>Down Reg Decision</label>
        <locationX>600</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Down_Reg</targetReference>
        </connector>
        <fields>
            <name>DownReg</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Start Down Reg&quot;,&quot;value&quot;:&quot;Allows you to start a down reg medication&quot;},{&quot;label&quot;:&quot;Log Day 1&quot;,&quot;value&quot;:&quot;Log Day 1&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Icons</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Valid_Referral</name>
        <label>No Valid Referral</label>
        <locationX>754</locationX>
        <locationY>4742</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Patient_is_a_Donor</targetReference>
        </connector>
        <fields>
            <name>tital</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;The following issues are preventing the creation of a Day 1. Please resolves these and then rerun the Create Day 1 Event. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IssueswithCycle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;This patient does not have a valid referral. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NoReferral_Exists</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NoScreens</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;This Patient or Partner do not have valid screens entered&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>NoScreensReturned</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Thepricingtype</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;This cycle has not got pricing set properly&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No_Pricing_Set</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>noFinTExt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;This cycle doesn&apos;t have a valid Financial Consent &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Not_Valid</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Proceed_Check</name>
            <dataType>Boolean</dataType>
            <fieldText>I understand the risks associated with the above flagged issues and wish to proceed regardless</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 OR 2 OR 3 OR 4</conditionLogic>
                <conditions>
                    <leftValueReference>Not_Valid</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>No_Pricing_Set</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>NoReferral_Exists</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>NoScreensReturned</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DonorText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(209, 0, 255);&quot;&gt;Please note that because this is a donor cycle you can still proceed past this screen to log a Day 1. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Patient.RecordType.Name</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Donor</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Valid_Screens_0</name>
        <label>No Valid Screens</label>
        <locationX>930</locationX>
        <locationY>3818</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Valis_Referals</targetReference>
        </connector>
        <fields>
            <name>No_Screens_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;WARNING: This patient and or partner have a positive infectious screen!!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Outstanding_Invoice</name>
        <label>Outstanding Invoice</label>
        <locationX>798</locationX>
        <locationY>5450</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Admin_Group</targetReference>
        </connector>
        <fields>
            <name>OutstandingTExt</name>
            <fieldText>&lt;p&gt;&lt;b&gt;This patient has outstanding invoices. While you can still log a Day 1 an email will be sent to administration to inform them of this issue. You are also encouraged to discuss this issue with the administrative team. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pick_Medication</name>
        <label>Pick Medication</label>
        <locationX>468</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Med</targetReference>
        </connector>
        <fields>
            <name>Meds</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cycle_Medication__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Medication for DownReg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Medications</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-7afe&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Cycle Medication Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Calendar</name>
        <label>Select Calendar</label>
        <locationX>578</locationX>
        <locationY>9410</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Cal_Linkage_from_MultiCal</targetReference>
        </connector>
        <fields>
            <name>Calendar</name>
            <fieldText>&lt;p&gt;The system is automatically booking a tentative OUP however multiple OPU calendars exist. Please select the calendar you want this event to be booked to below. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OPU_Calendar</name>
            <choiceReferences>Calendars</choiceReferences>
            <dataType>String</dataType>
            <fieldText>OPU Calendar</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selected_Day_1</name>
        <label>Selected Day 1</label>
        <locationX>930</locationX>
        <locationY>6182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Cycle</targetReference>
        </connector>
        <fields>
            <name>Select_Day_1</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Select Day 1</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NurseLookup</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Get_User.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primarySearchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Staff Member Reporting Day 1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>withSharing</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryCondition</name>
                <value>
                    <stringValue>Allowed_to_Undertake_Nursing_Duties__c=TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start_Date</name>
        <label>Start Date</label>
        <locationX>468</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Med</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>MedicationVar.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>MedicationVar.Medication_Start_Date__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Height_and_Weight</name>
        <label>Update Height and Weight</label>
        <locationX>930</locationX>
        <locationY>5966</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Patient</targetReference>
        </connector>
        <fields>
            <name>ConfirmHeightandWeight</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Please confirm the Patients height and weight below. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Patient_Weight</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Patient_Demographics.Weight__c</elementReference>
            </defaultValue>
            <fieldText>Patient Weight</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Patient_Height</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Patient_Demographics.Height__c</elementReference>
            </defaultValue>
            <fieldText>Patient Height</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Cycle_Day_1_Event_Record_Type</name>
        <label>Get Cycle Day 1 Event Record Type</label>
        <locationX>930</locationX>
        <locationY>6398</locationY>
        <connector>
            <targetReference>Create_Day_1_Event</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Day 1</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Down_Reg_Event</name>
        <label>Get Down Reg Event</label>
        <locationX>468</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Create_Down_Reg_Event</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Down Reg Start</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Get Financial Consent Record Type</description>
        <name>Get_Financial_Consent_Record_Type</name>
        <label>Get Financial Consent Record Type</label>
        <locationX>930</locationX>
        <locationY>4226</locationY>
        <connector>
            <targetReference>Get_Valid_Fin_Consent</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Financial Consent</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_OPU_Event_Record_Type</name>
        <label>Get OPU Event Record Type</label>
        <locationX>710</locationX>
        <locationY>9818</locationY>
        <connector>
            <targetReference>Asssign_OPU_Event_Data</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Procedure</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Get Patient Record Type</description>
        <name>Get_Patient_Record_Type</name>
        <label>Get Patient Record Type</label>
        <locationX>446</locationX>
        <locationY>2786</locationY>
        <connector>
            <targetReference>Get_Screens</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>ART Screen</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Run_Medicare_Day_1_Flow</name>
        <label>Run Medicare Day 1 Flow</label>
        <locationX>930</locationX>
        <locationY>6614</locationY>
        <connector>
            <targetReference>Get_All_Cycle_Day_Events</targetReference>
        </connector>
        <flowName>Medicare_Day_1</flowName>
        <inputAssignments>
            <name>DateofService</name>
            <value>
                <elementReference>Select_Day_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>EmailAlertInvoices</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This email is just to let you know that a Day 1 has been raised on cycle {!Get_Cycle.Name} for {!Get_Cycle.Patient__r.Name}. It appears that this patient may have outstanding invoices that you may want to follow up. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$User.FirstName} {!Get_User.LastName}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>InvoiceEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi,
A Day 1 has been logged for cycle {!Get_Cycle.Name}, this cycle has an outstanding invoice against it. 
Thanks,
{!Get_User.Name}</text>
    </textTemplates>
    <variables>
        <name>AllCycleDays</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Day__c</objectType>
    </variables>
    <variables>
        <name>AllCycleMedsVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>CalendarIDVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClinicNurses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>CycleDayVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Day__c</objectType>
    </variables>
    <variables>
        <name>Emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LinkageCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>MedicationVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>NoScreensReturned</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OPUEventVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StartTimeVar</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Loop_Sorted_Events.EndDateTime</elementReference>
        </value>
    </variables>
</Flow>
