force-app/main/default/flows/Create_Clinic.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Queues</name>
        <label>Create Queues</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <actionName>QueueUtility</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>queueNames</name>
            <value>
                <elementReference>Collection_QueueNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>supportedObjects</name>
            <value>
                <elementReference>Collection_SupportedObjects</elementReference>
            </value>
        </inputParameters>
        <nameSegment>QueueUtility</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_clinic_information</name>
        <label>Assign_clinic_information</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varRTACAccreditedUnitNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RTAC_Accredited_Unit_Number_screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varABN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ABN_screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ABN_screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varANZARDUnitNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ANZARD_Unit_Number_screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillingAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Address_screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varClinicAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clinic_Name_screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varClinicEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clinic_Email_screen.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varClinicLogo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clinic_Logo_screen.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varClinicName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clinic_Name_screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fax_screen2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLSPN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LSPN_screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNursingEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nursing_Email_screen.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_screen2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QueName_To_Collection</name>
        <label>Assign_QueName_To_Collection</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Collection_QueueNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QueueName1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Collection_QueueNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QueueName2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Collection_QueueNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QueueName3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Collection_QueueNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QueueName4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Collection_QueueNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QueueName5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Collection_QueueNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QueueName6</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_3</name>
        <label>Assignment 3</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Collection_SupportedObjects</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Clinic__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Collection_SupportedObjects</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varClinicName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Queues</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>New_clinic</description>
        <name>New_clinic</name>
        <dataType>String</dataType>
    </constants>
    <environments>Default</environments>
    <formulas>
        <name>chacater_limit_255</name>
        <dataType>String</dataType>
        <expression>LEN({!varBillingAddress}) &gt; 255</expression>
    </formulas>
    <formulas>
        <name>Formula_Quename</name>
        <dataType>String</dataType>
        <expression>{!varClinicName} + &apos;IVF Administration Queue&apos;</expression>
    </formulas>
    <formulas>
        <description>Integer_length_equals_11</description>
        <name>Integer_length_equals_11</name>
        <dataType>Number</dataType>
        <expression>NOT(AND(
  ISNUMBER(Text(ABN__c)),
  LEN(TEXT(ABN__c)) = 11
))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Integer_max_10</name>
        <dataType>Number</dataType>
        <expression>LEN(TEXT(Number_Field__c)) &gt; 11</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Integer_maximum_10</name>
        <dataType>Number</dataType>
        <expression>LEN(TEXT(Number_Field__c)) &gt; 11</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Integer_maximum_6</name>
        <dataType>Number</dataType>
        <expression>LEN(TEXT(Number_Field__c)) &gt; 6</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QueueName1</name>
        <dataType>String</dataType>
        <expression>{!varClinicName} + &apos;  IVF Administration Queue&apos;</expression>
    </formulas>
    <formulas>
        <name>QueueName2</name>
        <dataType>String</dataType>
        <expression>{!varClinicName} + &apos;  IVF Laboratory Queue&apos;</expression>
    </formulas>
    <formulas>
        <name>QueueName3</name>
        <dataType>String</dataType>
        <expression>{!varClinicName} + &apos; IVF Nursing Queue&apos;</expression>
    </formulas>
    <formulas>
        <name>QueueName4</name>
        <dataType>String</dataType>
        <expression>{!varClinicName} + &apos;  Fertility Administration Queue&apos;</expression>
    </formulas>
    <formulas>
        <name>QueueName5</name>
        <dataType>String</dataType>
        <expression>{!varClinicName} + &apos;  Fertility Laboratory Queue&apos;</expression>
    </formulas>
    <formulas>
        <name>QueueName6</name>
        <dataType>String</dataType>
        <expression>{!varClinicName} + &apos;  Fertility Nursing Queue&apos;</expression>
    </formulas>
    <formulas>
        <name>Text_length_1_to_20</name>
        <dataType>String</dataType>
        <expression>OR(
  LEN(TextField__c) &lt; 1,
  LEN(TextField__c) &gt; 20
)</expression>
    </formulas>
    <interviewLabel>Create_Clinic {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create_Clinic</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateRecords</name>
        <label>CreateClinicRecord</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Assign_QueName_To_Collection</targetReference>
        </connector>
        <inputAssignments>
            <field>ABN__c</field>
            <value>
                <elementReference>varABN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ANZARD_Unit_Number__c</field>
            <value>
                <elementReference>varANZARDUnitNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>varAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Number__c</field>
            <value>
                <elementReference>varAccountNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BSB__c</field>
            <value>
                <elementReference>varBSB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Address__c</field>
            <value>
                <elementReference>varBillingAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clinic_Address__c</field>
            <value>
                <elementReference>varClinicAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clinic_Email__c</field>
            <value>
                <elementReference>varClinicEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clinic_Logo__c</field>
            <value>
                <elementReference>varClinicLogo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax__c</field>
            <value>
                <elementReference>varFax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LSPN__c</field>
            <value>
                <elementReference>varLSPN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varClinicName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nursing_Email__c</field>
            <value>
                <elementReference>varNursingEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>varPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RTAC_Accredited_Unit_Number__c</field>
            <value>
                <elementReference>varRTACAccreditedUnitNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Clinics__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Clinic_Information</name>
        <label>Clinic Information</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_clinic_information</targetReference>
        </connector>
        <fields>
            <name>RTAC_Accredited_Unit_Number_screen</name>
            <dataType>String</dataType>
            <fieldText>RTAC Accredited Unit Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ABN_screen</name>
            <dataType>Number</dataType>
            <fieldText>ABN</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Account_Name_screen</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Number_TEXT</name>
            <dataType>String</dataType>
            <fieldText>Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BSB_TEXT</name>
            <dataType>String</dataType>
            <fieldText>BSB</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ANZARD_Unit_Number_screen</name>
            <dataType>String</dataType>
            <fieldText>ANZARD Unit Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Billing_Address_screen</name>
            <dataType>String</dataType>
            <fieldText>Billing Address</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Clinic_Address_screen</name>
            <dataType>String</dataType>
            <fieldText>Clinic Address</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Clinic_Email_screen</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Clinic Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Clinic_Logo_screen</name>
            <extensionName>c:inputRichTextFSC_LWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue>Clinic Logo</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Clinic_Name_screen</name>
            <dataType>String</dataType>
            <fieldText>Clinic Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Fax_screen2</name>
            <dataType>Number</dataType>
            <fieldText>Fax</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>LSPN_screen</name>
            <dataType>Number</dataType>
            <fieldText>LSPN</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Nursing_Email_screen</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Nursing Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Phone_screen2</name>
            <dataType>Number</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Clinic_Information</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>Collection_QueueNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Collection_SupportedObjects</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varABN</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varANZARDUnitNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBillingAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBSB</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varClinicAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClinicEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClinicLogo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClinicName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFax</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varLSPN</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varNursingEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPhone</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varRTACAccreditedUnitNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Integer_length_equals_11</elementReference>
        </value>
    </variables>
</Flow>
