force-app/main/default/flows/Developer_Select_Users_From_Group.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>All_Group_Members</name>
        <label>All Group Members</label>
        <locationX>675</locationX>
        <locationY>1507</locationY>
        <assignmentItems>
            <assignToReference>AllGroupMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Users_In_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Need_Nurse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doctors</name>
        <label>Assign Doctors</label>
        <locationX>507</locationX>
        <locationY>2879</locationY>
        <assignmentItems>
            <assignToReference>AllGroupMembers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_Get_Users_In_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Users_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Role_Permissions</name>
        <label>Assign Role Permissions</label>
        <locationX>863</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>IsNurse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User.Allowed_to_Undertake_Nursing_Duties__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsScientist</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User.Allowed_to_Undertake_Scientific_Duties__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsAdmin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User.Allowed_to_Undertake_Administrative__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Need_Lab</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Final_0</name>
        <label>Assign To Final</label>
        <locationX>822</locationX>
        <locationY>3292</locationY>
        <assignmentItems>
            <assignToReference>FinalUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FoundUsers</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assing_Nurses</name>
        <label>Assing Nurses</label>
        <locationX>607</locationX>
        <locationY>2064</locationY>
        <assignmentItems>
            <assignToReference>AllGroupMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Get_Users_In_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Need_Dcotor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>User_Collection</name>
        <label>User Collection</label>
        <locationX>1262</locationX>
        <locationY>2777</locationY>
        <assignmentItems>
            <assignToReference>FoundUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_User_For_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Users_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Need_Dcotor</name>
        <label>Need Doctor</label>
        <locationX>842</locationX>
        <locationY>2284</locationY>
        <defaultConnector>
            <targetReference>Add_Users_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Need_Dcotor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NeedDoctor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_Public_Group</targetReference>
            </connector>
            <label>Yes Need Dcotor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_Lab</name>
        <label>Need Lab</label>
        <locationX>842</locationX>
        <locationY>1132</locationY>
        <defaultConnector>
            <targetReference>Need_Nurse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Need_Lab</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NeedScientist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Public_Group</targetReference>
            </connector>
            <label>Yes Need Lab</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_Nurse</name>
        <label>Need Nurse</label>
        <locationX>842</locationX>
        <locationY>1708</locationY>
        <defaultConnector>
            <targetReference>Need_Dcotor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Need_Nurse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NeedNurse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Public_Group</targetReference>
            </connector>
            <label>Yes Need Nurse</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_User_Found</name>
        <label>No User Found?</label>
        <locationX>1410</locationX>
        <locationY>3189</locationY>
        <defaultConnector>
            <targetReference>User_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_For_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Users_to_Collection</targetReference>
            </connector>
            <label>None Found</label>
        </rules>
    </decisions>
    <description>Seeking to get users from public group. Unfinished flow.</description>
    <dynamicChoiceSets>
        <name>Nurses</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Nurse__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DoctorName</name>
        <dataType>String</dataType>
        <expression>{!ClinicName}&amp;&quot; Doctors&quot;</expression>
    </formulas>
    <formulas>
        <name>LabName</name>
        <dataType>String</dataType>
        <expression>{!ClinicName}&amp;&quot; Laboratory&quot;</expression>
    </formulas>
    <formulas>
        <name>NursingName</name>
        <dataType>String</dataType>
        <expression>{!ClinicName}&amp;&quot; Nursing&quot;</expression>
    </formulas>
    <formulas>
        <name>RecordIdTypeForm</name>
        <dataType>String</dataType>
        <expression>Left({!recordId},5)</expression>
    </formulas>
    <interviewLabel>Developer Select Users From Group {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Developer Select Users From Group</label>
    <loops>
        <name>Add_Users_to_Collection</name>
        <label>Add Users to Collection</label>
        <locationX>842</locationX>
        <locationY>2860</locationY>
        <collectionReference>AllGroupMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_User_For_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_To_Final_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Public_Group</name>
        <label>Copy 1 of Get Public Group</label>
        <locationX>523</locationX>
        <locationY>1806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_Users_In_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NursingName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Users_In_Group</name>
        <label>Copy 1 of Get Users In Group</label>
        <locationX>511</locationX>
        <locationY>1942</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assing_Nurses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_Public_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Public_Group</name>
        <label>Copy 2 of Get Public Group</label>
        <locationX>453</locationX>
        <locationY>2414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Get_Users_In_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DoctorName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Users_In_Group</name>
        <label>Copy 2 of Get Users In Group</label>
        <locationX>389</locationX>
        <locationY>2686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Doctors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_2_of_Get_Public_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Public_Group</name>
        <label>Get Public Group</label>
        <locationX>331</locationX>
        <locationY>1260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Users_In_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>lab</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>871</locationX>
        <locationY>244</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Role_Permissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_For_Collection</name>
        <label>Get User For Collection</label>
        <locationX>1002</locationX>
        <locationY>3134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_User_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Add_Users_to_Collection.UserOrGroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_In_Group</name>
        <label>Get Users In Group</label>
        <locationX>330</locationX>
        <locationY>1494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Public_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>Developer_Basic_Flow_Template</sourceTemplate>
    <start>
        <locationX>730</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllGroupMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>ClinicName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Life Fertility</stringValue>
        </value>
    </variables>
    <variables>
        <name>ClinicNurses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>currentItem_Nurse_Filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>FinalUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>FoundUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>IsAdmin</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsNurse</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsScientist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NeedDoctor</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NeedNurse</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NeedScientist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
