force-app/main/default/flows/Developer_Create_Clinic_Queues.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_To_All_Subgroups</name>
        <label>Add To All Subgroups</label>
        <locationX>440</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>AllGroupVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GroupVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Nmaes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Group_Names</name>
        <label>Assign Group Names</label>
        <locationX>352</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>GroupNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Lab</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Doctors</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Nursing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Admin</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Nmaes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Group_to_Master</name>
        <label>Assign Group to Master</label>
        <locationX>440</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>GroupMemberships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GroupMembershipVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Sub_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Master_Group_Information</name>
        <label>Assign Master Group Information</label>
        <locationX>352</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>MasterGroupVar.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterGroupVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Master_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sub_Group_Information</name>
        <label>Assign Sub Group Information</label>
        <locationX>440</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>GroupVar.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_All_Subgroups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_All_Queues</name>
        <label>Assign to All Queues</label>
        <locationX>440</locationX>
        <locationY>1848</locationY>
        <assignmentItems>
            <assignToReference>AllQueuesvar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GroupVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Queses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Group_to_Master</name>
        <label>Copy 1 of Assign Group to Master</label>
        <locationX>440</locationX>
        <locationY>2580</locationY>
        <assignmentItems>
            <assignToReference>GroupMemberships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GroupMembershipVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_Sub_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Create_Linkage</name>
        <label>Copy 1 of Create Linkage</label>
        <locationX>440</locationX>
        <locationY>2472</locationY>
        <assignmentItems>
            <assignToReference>GroupMembershipVar.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupMembershipVar.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Sub_Groups.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Group_to_Master</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Linkage</name>
        <label>Create Linkage</label>
        <locationX>440</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>GroupMembershipVar.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MasterGroupVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupMembershipVar.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Sub_Groups.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Group_to_Master</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Quese</name>
        <label>Create Quese</label>
        <locationX>440</locationX>
        <locationY>1740</locationY>
        <assignmentItems>
            <assignToReference>GroupVar.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueueName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_All_Queues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_Group_Membership</name>
        <label>Null Group Membership</label>
        <locationX>352</locationX>
        <locationY>2148</locationY>
        <assignmentItems>
            <assignToReference>GroupMemberships</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_Sub_Groups</targetReference>
        </connector>
    </assignments>
    <description>Creation of queues triggered by clinic record creation</description>
    <environments>Default</environments>
    <interviewLabel>Developer Create Clinic Queues {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Developer Create Clinic Queues</label>
    <loops>
        <name>Copy_1_of_Loop_Sub_Groups</name>
        <label>Copy 1 of Loop Sub Groups</label>
        <locationX>352</locationX>
        <locationY>2256</locationY>
        <collectionReference>AllGroupVar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Queue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Group_Memberships</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Create_Queses</name>
        <label>Create Queues</label>
        <locationX>352</locationX>
        <locationY>1632</locationY>
        <collectionReference>GroupNames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Quese</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Queues</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Nmaes</name>
        <label>Loop Names</label>
        <locationX>352</locationX>
        <locationY>600</locationY>
        <collectionReference>GroupNames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Sub_Group_Information</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_SubGroups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Sub_Groups</name>
        <label>Loop Sub Groups</label>
        <locationX>352</locationX>
        <locationY>1116</locationY>
        <collectionReference>AllGroupVar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Linkage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Group_Linkages</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Group_Linkages</name>
        <label>Create Group Linkages</label>
        <locationX>352</locationX>
        <locationY>1524</locationY>
        <connector>
            <targetReference>Create_Queses</targetReference>
        </connector>
        <inputReference>GroupMemberships</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Group_Memberships</name>
        <label>Create Group Memberships</label>
        <locationX>352</locationX>
        <locationY>2772</locationY>
        <inputReference>GroupMemberships</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Master_Group</name>
        <label>Create Master Group</label>
        <locationX>352</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Assign_Group_Names</targetReference>
        </connector>
        <inputReference>MasterGroupVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Queues</name>
        <label>Create Queues</label>
        <locationX>352</locationX>
        <locationY>2040</locationY>
        <connector>
            <targetReference>Null_Group_Membership</targetReference>
        </connector>
        <inputReference>AllQueuesvar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SubGroups</name>
        <label>Create SubGroups</label>
        <locationX>352</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>Loop_Sub_Groups</targetReference>
        </connector>
        <inputReference>AllGroupVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>440</locationX>
        <locationY>2364</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Create_Linkage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Sub_Groups.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Clinics__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Assign_Master_Group_Information</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>GroupName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Name} {!Loop_Nmaes}</text>
    </textTemplates>
    <textTemplates>
        <name>QueueName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Name} {!Create_Queses} Queue</text>
    </textTemplates>
    <variables>
        <name>AllGroupVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>AllQueuesvar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>GroupMemberships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>GroupMembershipVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>GroupNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GroupVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>MasterGroupVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
</Flow>
