force-app/main/default/flows/Developer_Data_Management_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Test_Doc_Gen</name>
        <label>Test Doc Gen</label>
        <locationX>1068</locationX>
        <locationY>100</locationY>
        <actionName>docb__TSDocuments</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <stringValue>a1UGC00000EMhmZ2AT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>a02GC00002aJSbgYAG</stringValue>
            </value>
        </inputParameters>
        <nameSegment>docb__TSDocuments</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_TO_All</name>
        <label>Add TO All</label>
        <locationX>920</locationX>
        <locationY>565</locationY>
        <assignmentItems>
            <assignToReference>AllTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Linked_Patient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Var</name>
        <label>Assign Task Var</label>
        <locationX>1051</locationX>
        <locationY>555</locationY>
        <assignmentItems>
            <assignToReference>TaskVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Linked_Patient.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.Linked_Patient_Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Linked_Patient.WhoId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_TO_All</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_ANZARD</name>
        <label>Found ANZARD</label>
        <locationX>665</locationX>
        <locationY>599</locationY>
        <defaultConnector>
            <targetReference>Get_Semen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Anzard_Loop</targetReference>
            </connector>
            <label>Yep</label>
        </rules>
    </decisions>
    <description>Allows developers to mass update and delete records.</description>
    <environments>Default</environments>
    <formulas>
        <name>Site</name>
        <dataType>String</dataType>
        <expression>LEFT(TEXT({!Get_Semen.Sample_Production_Method__c}),1)</expression>
    </formulas>
    <formulas>
        <name>SPQUAL</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Get_Semen.Prep_Count_x10_6__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Developer Data Management Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Developer Data Management Flow</label>
    <loops>
        <name>Create_Anzard_Loop</name>
        <label>Create Anzard Loop</label>
        <locationX>673</locationX>
        <locationY>342</locationY>
        <collectionReference>Get_All_Day_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Existing</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Update_Linked_Patient</name>
        <label>Update Linked Patient</label>
        <locationX>1053</locationX>
        <locationY>390</locationY>
        <collectionReference>Get_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Task_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_Tasks1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_ANZARD_Record</name>
        <label>Create ANZARD Record</label>
        <locationX>551</locationX>
        <locationY>753</locationY>
        <connector>
            <targetReference>Create_Anzard_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>CYCLE_ID__c</field>
            <value>
                <elementReference>Create_Anzard_Loop.Cycle__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SP_QUAL__c</field>
            <value>
                <elementReference>SPQUAL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SP_SITE__c</field>
            <value>
                <elementReference>Site</elementReference>
            </value>
        </inputAssignments>
        <object>ANZARD_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delet_imports</name>
        <label>Delet imports</label>
        <locationX>153</locationX>
        <locationY>199</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Imported_Patients__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Opportunities</name>
        <label>Delete Opportunities</label>
        <locationX>286</locationX>
        <locationY>312</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseNumber</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Day_1</name>
        <label>Get All Day 1</label>
        <locationX>674</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Anzard_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Day 1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing</name>
        <label>Get Existing</label>
        <locationX>797</locationX>
        <locationY>474</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_ANZARD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CYCLE_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Anzard_Loop.Cycle__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ANZARD_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Semen</name>
        <label>Get Semen</label>
        <locationX>676</locationX>
        <locationY>743</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_ANZARD_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Created_In_Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Anzard_Loop.Cycle__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Semen_Sample__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks</name>
        <label>Get Tasks</label>
        <locationX>1042</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Linked_Patient</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_all_Tasks</name>
        <label>Update all Tasks</label>
        <locationX>317</locationX>
        <locationY>502</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_File_Warning__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Patient_File_Warning__c</field>
            <value>
                <stringValue>Value 1</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_All_Tasks1</name>
        <label>Update All Tasks</label>
        <locationX>1184</locationX>
        <locationY>417</locationY>
        <inputReference>AllTasks</inputReference>
    </recordUpdates>
    <start>
        <locationX>548</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_All_Day_1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AllTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
