force-app/main/default/flows/Developer_Fertility_Clinics_FC_Test_Create_Case_001.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>extract_response_JSON</name>
        <label>extract_response_JSON</label>
        <locationX>281</locationX>
        <locationY>974</locationY>
        <actionName>ExtractJSONValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>check_unAuthorized</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputJSONString</name>
            <value>
                <elementReference>varRepsonse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keysToExtract</name>
            <value>
                <stringValue>[{&quot;key&quot;:&quot;value1&quot;,&quot;value&quot;:&quot;result.message&quot;,&quot;order&quot;:0},{&quot;key&quot;:&quot;value2&quot;,&quot;value&quot;:&quot;result.casesDetailsUrl&quot;,&quot;order&quot;:1},{&quot;key&quot;:&quot;value3&quot;,&quot;value&quot;:&quot;result.success&quot;,&quot;order&quot;:2},{&quot;key&quot;:&quot;value4&quot;,&quot;value&quot;:&quot;unAuthorizedRequest&quot;,&quot;order&quot;:3}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExtractJSONValues</nameSegment>
        <outputParameters>
            <assignToReference>varResponseMessage</assignToReference>
            <name>value1</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varResponseURL</assignToReference>
            <name>value2</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varResponseSuccess</assignToReference>
            <name>value3</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varResponseunAuthorizedRequest</assignToReference>
            <name>value4</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Create_Case_HTTP_Call_No_Partner</name>
        <label>Send_Create_Case_HTTP_Call_No_Partner</label>
        <locationX>413</locationX>
        <locationY>782</locationY>
        <actionName>FC_Consents_HTTP_Create_Call</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>extract_response_JSON</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>body_no_partner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endpoint</name>
            <value>
                <stringValue>https://lv-mdc-uks-public-api.azurewebsites.net/api/pariov1/treatmentcase/create</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>password</name>
            <value>
                <stringValue>hEnxMcmLKWsqSD4W</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>username</name>
            <value>
                <stringValue>pario-api@fc.uk</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FC_Consents_HTTP_Create_Call</nameSegment>
        <outputParameters>
            <assignToReference>varRepsonse</assignToReference>
            <name>responseBody</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varResponseStatusCode</assignToReference>
            <name>statusCode</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Create_Case_HTTP_Call_Partner</name>
        <label>Send_Create_Case_HTTP_Call_Partner</label>
        <locationX>149</locationX>
        <locationY>782</locationY>
        <actionName>FC_Consents_HTTP_Create_Call</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>extract_response_JSON</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>body_has_partner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endpoint</name>
            <value>
                <stringValue>https://lv-mdc-uks-public-api.azurewebsites.net/api/pariov1/treatmentcase/create</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>password</name>
            <value>
                <stringValue>hEnxMcmLKWsqSD4W</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>username</name>
            <value>
                <stringValue>pario-api@fc.uk</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FC_Consents_HTTP_Create_Call</nameSegment>
        <outputParameters>
            <assignToReference>varRepsonse</assignToReference>
            <name>responseBody</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varResponseStatusCode</assignToReference>
            <name>statusCode</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>assign_body_1</name>
        <label>assign_body_1</label>
        <locationX>149</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>body_has_partner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Text_Template_Body_HAS_Partner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Create_Case_HTTP_Call_Partner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_body_2</name>
        <label>assign_body_2</label>
        <locationX>413</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>body_no_partner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Text_Template_Body_No_Partner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Create_Case_HTTP_Call_No_Partner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_case_URL_to_object</name>
        <label>assign_case_URL_to_object</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>get_cycle.casesDetailsUrl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varResponseURL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Patient_Record_ID</name>
        <label>assign_Patient_Record_ID</label>
        <locationX>281</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>patientRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_cycle.Patient__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Has_Partner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>has_partner_assign_callout_Vars</name>
        <label>has_partner_assign_callout_Vars</label>
        <locationX>149</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>tenantId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>practiceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>133</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emrId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>patientRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patientACUID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>patientRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patientSiteCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>133</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patientSiteDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Life Fertility QLD (Queensland)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>phoneCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>+61</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>phoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>birthday</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>birthday_formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>personalId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>patientRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patientSex</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.Sex_at_Birth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patientAddress1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patientAddress2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patientAddress3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.MailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patientAddress4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.MailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patientAddress5</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.MailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patientAddress6</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.MailingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patientHealthNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.Medicare_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>true</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>partnerEmrId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.Partner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>partnerACUID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.Partner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>partnerSiteCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>133</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>partnerSiteDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Life Fertility QLD (Queensland)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>partnerFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.Partner__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>partnerLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.Partner__r.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>partnerEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.Partner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>partnerPhoneCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>+61</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>partnerPhoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.Partner__r.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>partnerBirthday</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>partnerBirthday_formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>partnerPersonalId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.Partner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>partnerSex</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.Partner__r.Sex_at_Birth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>partnerAddress1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.Partner__r.MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>partnerAddress2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.Partner__r.MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>partnerAddress3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.Partner__r.MailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>partnerAddress4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.Partner__r.MailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>partnerAddress5</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.Partner__r.MailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>partnerAddress6</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.Partner__r.MailingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>partnerHealthNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.Partner__r.Medicare_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_body_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>no_partner_assign_callout_Vars</name>
        <label>no_partner_assign_callout_Vars</label>
        <locationX>413</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>tenantId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>practiceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>133</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emrId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>patientRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patientACUID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>patientRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patientSiteCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>133</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patientSiteDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Life Fertility QLD (Queensland)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>phoneCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>+61</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>phoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>birthday</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>birthday_formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>personalId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>patientRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patientSex</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.Sex_at_Birth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patientAddress2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.MailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patientAddress4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.MailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patientAddress6</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.MailingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patientAddress1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patientAddress3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.MailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patientAddress5</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_patient.MailingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_body_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Has_Partner</name>
        <label>check_Has_Partner</label>
        <locationX>281</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>no_partner_assign_callout_Vars</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_partner_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_patient.Partner__r.FirstName</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>has_partner_assign_callout_Vars</targetReference>
            </connector>
            <label>has_partner_TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_success</name>
        <label>check_success</label>
        <locationX>710</locationX>
        <locationY>1298</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varResponseSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Successful</targetReference>
            </connector>
            <label>is_Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_success_NOT</name>
        <label>check_success_NOT</label>
        <locationX>512</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>check_success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_NOT_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varResponseSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>false</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varResponseunAuthorizedRequest</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_NOT_Success</targetReference>
            </connector>
            <label>check_NOT_Successful</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_unAuthorized</name>
        <label>check_unAuthorized</label>
        <locationX>281</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>check_success_NOT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_unAuthorized</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varResponseunAuthorizedRequest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isunauth</targetReference>
            </connector>
            <label>is_unAuthorized</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>birthday_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!get_patient.Birthdate}), &quot;NA&quot;, 
    LPAD(TEXT(DAY({!get_patient.Birthdate})), 2, &quot;0&quot;) &amp; &quot;/&quot; &amp; 
    LPAD(TEXT(MONTH({!get_patient.Birthdate})), 2, &quot;0&quot;) &amp; &quot;/&quot; &amp; 
    TEXT(YEAR({!get_patient.Birthdate}))
)</expression>
    </formulas>
    <formulas>
        <name>email_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!email}), &quot;NA&quot;, {!email})</expression>
    </formulas>
    <formulas>
        <name>emrId_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!emrId}), &quot;NA&quot;, {!emrId})</expression>
    </formulas>
    <formulas>
        <name>firstName_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!firstName}), &quot;NA&quot;, {!firstName})</expression>
    </formulas>
    <formulas>
        <name>lastName_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!lastName}), &quot;NA&quot;, {!lastName})</expression>
    </formulas>
    <formulas>
        <name>partnerACUID_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!partnerACUID}), &quot;NA&quot;, {!partnerACUID})</expression>
    </formulas>
    <formulas>
        <name>partnerAddress1_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!partnerAddress1}), &quot;NA&quot;, {!partnerAddress1})</expression>
    </formulas>
    <formulas>
        <name>partnerAddress2_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!partnerAddress2}), &quot;NA&quot;, {!partnerAddress2})</expression>
    </formulas>
    <formulas>
        <name>partnerAddress3_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!partnerAddress3}), &quot;NA&quot;, {!partnerAddress3})</expression>
    </formulas>
    <formulas>
        <name>partnerAddress4_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!partnerAddress4}), &quot;NA&quot;, {!partnerAddress4})</expression>
    </formulas>
    <formulas>
        <name>partnerAddress5_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!partnerAddress5}), &quot;NA&quot;, {!partnerAddress5})</expression>
    </formulas>
    <formulas>
        <name>partnerAddress6_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!partnerAddress6}), &quot;NA&quot;, {!partnerAddress6})</expression>
    </formulas>
    <formulas>
        <name>partnerBirthday_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!get_patient.Partner__r.Partner__r.Birthdate}), &quot;NA&quot;, 
    LPAD(TEXT(DAY({!get_patient.Partner__r.Partner__r.Birthdate})), 2, &quot;0&quot;) &amp; &quot;/&quot; &amp; 
    LPAD(TEXT(MONTH({!get_patient.Partner__r.Partner__r.Birthdate})), 2, &quot;0&quot;) &amp; &quot;/&quot; &amp; 
    TEXT(YEAR({!get_patient.Partner__r.Partner__r.Birthdate}))
)</expression>
    </formulas>
    <formulas>
        <name>partnerEmail_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!partnerEmail}), &quot;NA&quot;, {!partnerEmail})</expression>
    </formulas>
    <formulas>
        <name>partnerEmrId_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!partnerEmrId}), &quot;NA&quot;, {!partnerEmrId})</expression>
    </formulas>
    <formulas>
        <name>partnerFirstName_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!partnerFirstName}), &quot;NA&quot;, {!partnerFirstName})</expression>
    </formulas>
    <formulas>
        <name>partnerHealthNumber_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!partnerHealthNumber}), &quot;NA&quot;, {!partnerHealthNumber})</expression>
    </formulas>
    <formulas>
        <name>partnerLastName_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!partnerLastName}), &quot;NA&quot;, {!partnerLastName})</expression>
    </formulas>
    <formulas>
        <name>partnerPersonalId_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!partnerPersonalId}), &quot;NA&quot;, {!partnerPersonalId})</expression>
    </formulas>
    <formulas>
        <name>partnerPhoneCountry_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!partnerPhoneCountry}), &quot;NA&quot;, {!partnerPhoneCountry})</expression>
    </formulas>
    <formulas>
        <name>partnerPhoneNumber_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!partnerPhoneNumber}), &quot;NA&quot;, {!partnerPhoneNumber})</expression>
    </formulas>
    <formulas>
        <name>partnerSex_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!partnerSex}), &quot;NA&quot;, {!partnerSex})</expression>
    </formulas>
    <formulas>
        <name>partnerSiteCode_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!partnerSiteCode}), &quot;NA&quot;, {!partnerSiteCode})</expression>
    </formulas>
    <formulas>
        <name>partnerSiteDescription_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!partnerSiteDescription}), &quot;NA&quot;, {!partnerSiteDescription})</expression>
    </formulas>
    <formulas>
        <name>patientACUID_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!patientACUID}), &quot;NA&quot;, {!patientACUID})</expression>
    </formulas>
    <formulas>
        <name>patientAddress1_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!patientAddress1}), &quot;NA&quot;, {!patientAddress1})</expression>
    </formulas>
    <formulas>
        <name>patientAddress2_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!patientAddress2}), &quot;NA&quot;, {!patientAddress2})</expression>
    </formulas>
    <formulas>
        <name>patientAddress3_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!patientAddress3}), &quot;NA&quot;, {!patientAddress3})</expression>
    </formulas>
    <formulas>
        <name>patientAddress4_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!patientAddress4}), &quot;NA&quot;, {!patientAddress4})</expression>
    </formulas>
    <formulas>
        <name>patientAddress5_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!patientAddress5}), &quot;NA&quot;, {!patientAddress5})</expression>
    </formulas>
    <formulas>
        <name>patientAddress6_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!patientAddress6}), &quot;NA&quot;, {!patientAddress6})</expression>
    </formulas>
    <formulas>
        <name>patientHealthNumber_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!patientHealthNumber}), &quot;NA&quot;, {!patientHealthNumber})</expression>
    </formulas>
    <formulas>
        <name>patientSex_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!patientSex}), &quot;NA&quot;, {!patientSex})</expression>
    </formulas>
    <formulas>
        <name>patientSiteCode_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!patientSiteCode}), &quot;NA&quot;, {!patientSiteCode})</expression>
    </formulas>
    <formulas>
        <name>patientSiteDescription_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!patientSiteDescription}), &quot;NA&quot;, {!patientSiteDescription})</expression>
    </formulas>
    <formulas>
        <name>personalId_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!personalId}), &quot;NA&quot;, {!personalId})</expression>
    </formulas>
    <formulas>
        <name>phoneCountry_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!phoneCountry}), &quot;NA&quot;, {!phoneCountry})</expression>
    </formulas>
    <formulas>
        <name>phoneNumber_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!phoneNumber}), &quot;NA&quot;, {!phoneNumber})</expression>
    </formulas>
    <formulas>
        <name>practiceId_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!practiceId}), &quot;NA&quot;, {!practiceId})</expression>
    </formulas>
    <formulas>
        <name>tenantId_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!tenantId}), &quot;NA&quot;, {!tenantId})</expression>
    </formulas>
    <formulas>
        <name>test_formula_1</name>
        <dataType>String</dataType>
        <expression>{!birthday}</expression>
    </formulas>
    <interviewLabel>Developer Fertility Clinics (FC) [Test_Create_Case_001] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Developer Fertility Clinics (FC) [Test_Create_Case_001]</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_cycle</name>
        <label>get_cycle</label>
        <locationX>281</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_patient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_patient</name>
        <label>get_patient</label>
        <locationX>281</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Patient_Record_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_cycle.Patient__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_record</name>
        <label>update_record</label>
        <locationX>578</locationX>
        <locationY>1622</locationY>
        <inputReference>get_cycle</inputReference>
    </recordUpdates>
    <screens>
        <name>is_NOT_Success</name>
        <label>is_NOT_Success</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_is_Unauthorised</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(169, 62, 62); font-size: 16px;&quot;&gt;Error message returned from endpoint.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(169, 62, 62); font-size: 16px;&quot;&gt;Failed to create consent &apos;case&apos;.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(169, 62, 62); font-size: 16px;&quot;&gt;Endpoint message: {!varResponseMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>is_Successful</name>
        <label>is_Successful</label>
        <locationX>578</locationX>
        <locationY>1406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_case_URL_to_object</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Copy_2_of_is_Unauthorised</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(94, 160, 42); font-size: 18px;&quot;&gt;Successfully created consent &apos;case&apos;!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Case URL has been appended to the cycle object: &lt;/span&gt;&lt;a href=&quot;{!varResponseURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;LINK&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>isunauth</name>
        <label>isunauth</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>is_Unauthorised</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(169, 62, 62);&quot;&gt;Error from endpoint: unauthorised request.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(169, 62, 62);&quot;&gt;Failed to create consent &apos;case&apos;.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(169, 62, 62);&quot;&gt;Endpoint message: {!varResponseMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_cycle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Text_Template_Body_HAS_Partner</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
            &quot;tenantId&quot;: &quot;{!tenantId_formula}&quot;,
            &quot;practiceId&quot;: &quot;{!practiceId_formula}&quot;,
            &quot;emrId&quot;: &quot;{!emrId_formula}&quot;,
            &quot;patientACUID&quot;: &quot;{!patientACUID_formula}&quot;,
            &quot;patientSiteCode&quot;: &quot;{!patientSiteCode_formula}&quot;,
            &quot;patientSiteDescription&quot;: &quot;{!patientSiteDescription_formula}&quot;,
            &quot;firstName&quot;: &quot;{!firstName_formula}&quot;,
            &quot;lastName&quot;: &quot;{!lastName_formula}&quot;,
            &quot;email&quot;: &quot;{!email_formula}&quot;,
            &quot;phoneCountry&quot;: &quot;{!phoneCountry_formula}&quot;,
            &quot;phoneNumber&quot;: &quot;{!phoneNumber_formula}&quot;,
            &quot;birthday&quot;: &quot;{!birthday_formula}&quot;,
            &quot;personalId&quot;: &quot;{!personalId_formula}&quot;,
            &quot;patientSex&quot;: &quot;{!patientSex_formula}&quot;,
            &quot;patientAddress1&quot;: &quot;{!patientAddress1_formula}&quot;,
            &quot;patientAddress2&quot;: &quot;{!patientAddress2_formula}&quot;,
            &quot;patientAddress3&quot;: &quot;{!patientAddress3_formula}&quot;,
            &quot;patientAddress4&quot;: &quot;{!patientAddress4_formula}&quot;,
            &quot;patientAddress5&quot;: &quot;{!patientAddress5_formula}&quot;,
            &quot;patientAddress6&quot;: &quot;{!patientAddress6_formula}&quot;,
            &quot;patientHealthNumber&quot;: &quot;{!patientHealthNumber_formula}&quot;,
            &quot;hasPartner&quot;: true,
            &quot;partnerEmrId&quot;: &quot;{!partnerEmrId_formula}&quot;,
            &quot;partnerACUID&quot;: &quot;{!partnerACUID_formula}&quot;,
            &quot;partnerSiteCode&quot;: &quot;{!partnerSiteCode_formula}&quot;,
            &quot;partnerSiteDescription&quot;: &quot;{!partnerSiteDescription_formula}&quot;,
            &quot;partnerFirstName&quot;: &quot;{!partnerFirstName_formula}&quot;,
            &quot;partnerLastName&quot;: &quot;{!partnerLastName_formula}&quot;,
            &quot;partnerEmail&quot;: &quot;{!partnerEmail_formula}&quot;,
            &quot;partnerPhoneCountry&quot;: &quot;{!partnerPhoneCountry_formula}&quot;,
            &quot;partnerPhoneNumber&quot;: &quot;{!partnerPhoneNumber_formula}&quot;,
            &quot;partnerBirthday&quot;: &quot;{!partnerBirthday_formula}&quot;,
            &quot;partnerPersonalId&quot;: &quot;{!partnerPersonalId_formula}&quot;,
            &quot;partnerSex&quot;: &quot;{!partnerSex_formula}&quot;,
            &quot;partnerAddress1&quot;: &quot;{!partnerAddress1_formula}&quot;,
            &quot;partnerAddress2&quot;: &quot;{!partnerAddress2_formula}&quot;,
            &quot;partnerAddress3&quot;: &quot;{!partnerAddress3_formula}&quot;,
            &quot;partnerAddress4&quot;: &quot;{!partnerAddress4_formula}&quot;,
            &quot;partnerAddress5&quot;: &quot;{!partnerAddress5_formula}&quot;,
            &quot;partnerAddress6&quot;: &quot;{!partnerAddress6_formula}&quot;,
            &quot;partnerHealthNumber&quot;: &quot;{!partnerHealthNumber_formula}&quot;
        }</text>
    </textTemplates>
    <textTemplates>
        <name>Text_Template_Body_No_Partner</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
            &quot;tenantId&quot;: &quot;{!tenantId_formula}&quot;,
            &quot;practiceId&quot;: &quot;{!practiceId_formula}&quot;,
            &quot;emrId&quot;: &quot;{!emrId_formula}&quot;,
            &quot;patientACUID&quot;: &quot;{!patientACUID_formula}&quot;,
            &quot;patientSiteCode&quot;: &quot;{!patientSiteCode_formula}&quot;,
            &quot;patientSiteDescription&quot;: &quot;{!patientSiteDescription_formula}&quot;,
            &quot;firstName&quot;: &quot;{!firstName_formula}&quot;,
            &quot;lastName&quot;: &quot;{!lastName_formula}&quot;,
            &quot;email&quot;: &quot;{!email_formula}&quot;,
            &quot;phoneCountry&quot;: &quot;{!phoneCountry_formula}&quot;,
            &quot;phoneNumber&quot;: &quot;{!phoneNumber_formula}&quot;,
            &quot;birthday&quot;: &quot;{!birthday_formula}&quot;,
            &quot;personalId&quot;: &quot;{!personalId_formula}&quot;,
            &quot;patientSex&quot;: &quot;{!patientSex_formula}&quot;,
            &quot;patientAddress1&quot;: &quot;{!patientAddress1_formula}&quot;,
            &quot;patientAddress2&quot;: &quot;{!patientAddress2_formula}&quot;,
            &quot;patientAddress3&quot;: &quot;{!patientAddress3_formula}&quot;,
            &quot;patientAddress4&quot;: &quot;{!patientAddress4_formula}&quot;,
            &quot;patientAddress5&quot;: &quot;{!patientAddress5_formula}&quot;,
            &quot;patientAddress6&quot;: &quot;{!patientAddress6_formula}&quot;,
            &quot;patientHealthNumber&quot;: &quot;{!patientHealthNumber_formula}&quot;,
            &quot;hasPartner&quot;: false
        }</text>
    </textTemplates>
    <variables>
        <name>birthday</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>body_has_partner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>body_no_partner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emrId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hasPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerACUID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerAddress1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerAddress2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerAddress3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerAddress4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerAddress5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerAddress6</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerBirthday</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerEmrId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerHealthNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerPersonalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerPhoneCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerSex</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerSiteCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerSiteDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patientACUID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patientAddress1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patientAddress2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patientAddress3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patientAddress4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patientAddress5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patientAddress6</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patientHealthNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patientRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>patientRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patientSex</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patientSiteCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patientSiteDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>personal_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>personalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phoneCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>practiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tenantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRepsonse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varResponseMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varResponseStatusCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varResponseSuccess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varResponseunAuthorizedRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varResponseURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
