force-app/main/default/flows/Display_Cycle_Day_Events_with_Medication_Columns.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>1810</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>ButtonValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FlowButtons3.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Button_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Button_Value</name>
        <label>Assign Button Value</label>
        <locationX>1018</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>ButtonValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FlowButtons.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Button_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Buttons</name>
        <label>Assign Buttons</label>
        <locationX>1282</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>ButtonValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flowbuttons1.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Button_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Button</name>
        <label>Button</label>
        <locationX>1546</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>ButtonValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FlowButtons2.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Button_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Button_Value</name>
        <label>Button Value</label>
        <locationX>754</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>ButtonValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ButtonsChoice.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Button_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_Button_values</name>
        <label>Null Button values</label>
        <locationX>2074</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ViewButtons.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ViewButtons1.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ButtonsChoice.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Flowbuttons1.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlowButtons2.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlowButtons3.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ViewButtons.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_Value</name>
        <label>Null Value</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ViewButtons.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ViewButtons1.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ButtonsChoice.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Flowbuttons1.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlowButtons2.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlowButtons3.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ViewButtons.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Display_Compact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_Values</name>
        <label>Null Values</label>
        <locationX>1282</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ViewButtons.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ViewButtons1.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ButtonsChoice.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Flowbuttons1.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlowButtons2.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlowButtons3.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ViewButtons.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Sort_Copy_2</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_Copy_2</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Copy 2</label>
        <locationX>1282</locationX>
        <locationY>890</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Copy_2_of_Get_Cycle_Days</collectionReference>
        <connector>
            <targetReference>Cycle_Medication_Displays</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>true</doesPutEmptyStringAndNullFirst>
            <sortField>Day_Number__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Day_Date__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Cycle_Medication_Displays</name>
        <label>Cycle Medication Displays</label>
        <locationX>1282</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Copy_4_of_Copy_1_of_Cycle_Day_Display</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X8_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.X8_Cycle_Medication_Columns__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Cycle_Day_Display</targetReference>
            </connector>
            <label>8 Days</label>
        </rules>
        <rules>
            <name>X7_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.X7_Cycle_Medication_Columns__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Cycle_Day_Display</targetReference>
            </connector>
            <label>7 Days</label>
        </rules>
        <rules>
            <name>X6_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.X6_Cycle_Medication_Columns__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Cycle_Day_Display</targetReference>
            </connector>
            <label>6 Days</label>
        </rules>
        <rules>
            <name>X5_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.X5_Cycle_Medication_Columns__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Copy_1_of_Cycle_Day_Display</targetReference>
            </connector>
            <label>5 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Button_Null</name>
        <label>Is Button Null</label>
        <locationX>1282</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Routing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_no_Button_Pressed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ButtonValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Comment</targetReference>
            </connector>
            <label>Yes no Button Pressed</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Cycle_Days_Found</name>
        <label>No Cycle Days Found?</label>
        <locationX>754</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>View_Preference</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_Get_Cycle_Days</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Cycle_Days</targetReference>
            </connector>
            <label>None Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Routing</name>
        <label>Routing</label>
        <locationX>1282</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Null_Button_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Redirect_Compact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ViewButtons.value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Compact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ViewButtons1.value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Compact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ButtonsChoice.value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Compact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowButtons.value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Compact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Flowbuttons1.value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Compact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowButtons2.value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Compact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowButtons3.value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Compact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Null_Value</targetReference>
            </connector>
            <label>Redirect Compact</label>
        </rules>
        <rules>
            <name>Redirect_Expanded</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ViewButtons.value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Expanded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ViewButtons1.value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Expanded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ButtonsChoice.value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Expanded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowButtons.value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Expanded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Flowbuttons1.value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Expanded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowButtons2.value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Expanded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowButtons3.value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Expanded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Null_Values</targetReference>
            </connector>
            <label>Redirect Expanded</label>
        </rules>
    </decisions>
    <decisions>
        <name>View_Preference</name>
        <label>View Preference</label>
        <locationX>1458</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Display_Compact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Compact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Tracking_Page_View_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Compact</targetReference>
            </connector>
            <label>Compact</label>
        </rules>
        <rules>
            <name>Result</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Tracking_Page_View_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Results View</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Results</targetReference>
            </connector>
            <label>Result</label>
        </rules>
        <rules>
            <name>Expanded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Tracking_Page_View_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expanded View</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Sort_Copy_2</targetReference>
            </connector>
            <label>Expanded</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Display Cycle Day Events with Medication Columns {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display Cycle Day Events with Medication Columns</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Copy_2_of_Get_Cycle_Days</name>
        <label>Copy 2 of Get Cycle Days</label>
        <locationX>754</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Cycle_Days_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Day__c</object>
        <sortField>Day_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>754</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Get_Cycle_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Comment</name>
        <label>Update Comment</label>
        <locationX>1150</locationX>
        <locationY>1622</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>View_Preference</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedDay.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Day__c</object>
    </recordUpdates>
    <screens>
        <name>Comment</name>
        <label>Comment</label>
        <locationX>1150</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Comment</targetReference>
        </connector>
        <fields>
            <name>NotesDisclaimer</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please note: By adding a comment below you are only adding this to the cycle schedule, not writing a clinical note. If you wish to add a clinical note, please visit the communications tab.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Sorry that too much text for us to handle (we have a 255 limit).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;“To speak much is one thing; to speak to the point another!” -&lt;/em&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(51, 51, 51);&quot;&gt;Sophocles,&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.goodreads.com/work/quotes/143129&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(51, 51, 51);&quot;&gt;Oedipus at Colonus&lt;/a&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Comments})&lt;255</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Copy_1_of_Cycle_Day_Display</name>
        <label>Copy 1 of Copy 1 of Cycle Day Display</label>
        <locationX>1018</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Button_Value</targetReference>
        </connector>
        <fields>
            <name>FlowButtons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Compact view&quot;,&quot;value&quot;:&quot;Compact view&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:bucket&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Results View&quot;,&quot;value&quot;:&quot;Results View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:advertising&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Expanded View&quot;,&quot;value&quot;:&quot;Expanded View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:button_choice&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>sc</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_DayData</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cycle_Day__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Cycle_Day__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Day_Number__c,Day_Date__c,Day_of_Week__c,Medication_1__c,Medication_2__c,Medication_3__c,Medication_4__c,Medication_5__c,Medication_6__c,Medication_7__c,E2_Display__c,LH_Display__c,P4_Display__c,FSH_Display__c,BHCG_Display__c,Scan__c,Comments__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:98, Day_Number__c:100, Day_Date__c:102, Day_of_Week__c:107, Medication_1__c:163, Medication_2__c:149, Medication_3__c:155, Medication_4__c:147, Medication_5__c:164, Medication_6__c:172, Medication_7__c:163, E2_Display__c:77, LH_Display__c:88, P4_Display__c:86, FSH_Display__c:96, BHCG_Display__c:97, Scan__c:75, Comments__c:349</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Name:Link, Day_Number__c:Cycle Day, Day_Date__c:Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Copy_2_of_Get_Cycle_Days</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Scan__c:true</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedDay</assignToReference>
                <name>outputSelectedRow</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Add Comment</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Cycle_Day_Display</name>
        <label>Copy 1 of Cycle Day Display</label>
        <locationX>754</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Button_Value</targetReference>
        </connector>
        <fields>
            <name>ButtonsChoice</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Compact View&quot;,&quot;value&quot;:&quot;Compact View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:bucket&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Results View&quot;,&quot;value&quot;:&quot;Results View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:advertising&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Expanded View&quot;,&quot;value&quot;:&quot;Expanded View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:button_choice&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Spc</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_DayData</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cycle_Day__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Cycle_Day__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Day_Number__c,Day_Date__c,Day_of_Week__c,Medication_1__c,Medication_2__c,Medication_3__c,Medication_4__c,Medication_5__c,Medication_6__c,Medication_7__c,Medication_8__c,E2_Display__c,LH_Display__c,P4_Display__c,FSH_Display__c,BHCG_Display__c,Scan__c,Comments__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:98, Day_Number__c:100, Day_Date__c:102, Day_of_Week__c:107, Medication_1__c:163, Medication_2__c:149, Medication_3__c:155, Medication_4__c:147, Medication_5__c:164, Medication_6__c:172, Medication_7__c:163, Medication_8__c:151, E2_Display__c:77, LH_Display__c:88, P4_Display__c:86, FSH_Display__c:96, BHCG_Display__c:97, Scan__c:75, Comments__c:349</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Name:Link, Day_Number__c:Cycle Day, Day_Date__c:Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Copy_2_of_Get_Cycle_Days</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Scan__c:true</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedDay</assignToReference>
                <name>outputSelectedRow</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Add Comment</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Copy_1_of_Cycle_Day_Display</name>
        <label>Copy 2 of Copy 1 of Cycle Day Display</label>
        <locationX>1282</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Buttons</targetReference>
        </connector>
        <fields>
            <name>Flowbuttons1</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Compact View&quot;,&quot;value&quot;:&quot;Compact View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:bucket&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Results View&quot;,&quot;value&quot;:&quot;Results View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:advertising&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Expanded View&quot;,&quot;value&quot;:&quot;Expanded View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:button_choice&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Spacerino</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_2_of_Copy_1_of_DayData</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cycle_Day__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Cycle_Day__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Day_Number__c,Day_Date__c,Day_of_Week__c,Medication_1__c,Medication_2__c,Medication_3__c,Medication_4__c,Medication_5__c,Medication_6__c,E2_Display__c,LH_Display__c,P4_Display__c,FSH_Display__c,BHCG_Display__c,Scan__c,Comments__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:96, Day_Number__c:100, Day_Date__c:102, Day_of_Week__c:107, Medication_1__c:163, Medication_2__c:149, Medication_3__c:155, Medication_4__c:147, Medication_5__c:164, Medication_6__c:172, E2_Display__c:77, LH_Display__c:88, P4_Display__c:86, FSH_Display__c:96, BHCG_Display__c:97, Scan__c:75, Comments__c:349</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Name:Link, Day_Number__c:Cycle Day, Day_Date__c:Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Copy_2_of_Get_Cycle_Days</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Scan__c:true</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedDay</assignToReference>
                <name>outputSelectedRow</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Add Comment</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Copy_1_of_Cycle_Day_Display</name>
        <label>Copy 3 of Copy 1 of Cycle Day Display</label>
        <locationX>1546</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Button</targetReference>
        </connector>
        <fields>
            <name>FlowButtons2</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Compact View&quot;,&quot;value&quot;:&quot;Compact View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:bucket&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Results View&quot;,&quot;value&quot;:&quot;Results View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:advertising&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Expanded View&quot;,&quot;value&quot;:&quot;Expanded View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:button_choice&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>blank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_3_of_Copy_1_of_DayData</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cycle_Day__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Cycle_Day__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Day_Number__c,Day_Date__c,Day_of_Week__c,Medication_1__c,Medication_2__c,Medication_3__c,Medication_4__c,Medication_5__c,E2_Display__c,LH_Display__c,P4_Display__c,FSH_Display__c,BHCG_Display__c,Scan__c,Comments__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:99, Day_Number__c:100, Day_Date__c:102, Day_of_Week__c:107, Medication_1__c:163, Medication_2__c:149, Medication_3__c:155, Medication_4__c:147, Medication_5__c:164, E2_Display__c:77, LH_Display__c:88, P4_Display__c:86, FSH_Display__c:96, BHCG_Display__c:97, Scan__c:75, Comments__c:349</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Name:Link, Day_Number__c:Cycle Day, Day_Date__c:Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Copy_2_of_Get_Cycle_Days</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Scan__c:true</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedDay</assignToReference>
                <name>outputSelectedRow</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Add Comment</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_4_of_Copy_1_of_Cycle_Day_Display</name>
        <label>Copy 4 of Copy 1 of Cycle Day Display</label>
        <locationX>1810</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
        <fields>
            <name>FlowButtons3</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Compact View&quot;,&quot;value&quot;:&quot;Compact View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:bucket&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Results View&quot;,&quot;value&quot;:&quot;Results View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:advertising&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Expanded View&quot;,&quot;value&quot;:&quot;Expanded View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:advertising&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Spacing</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_4_of_Copy_1_of_DayData</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cycle_Day__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Cycle_Day__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Day_Number__c,Day_Date__c,Day_of_Week__c,Medication_1__c,Medication_2__c,Medication_3__c,Medication_4__c,E2_Display__c,LH_Display__c,P4_Display__c,FSH_Display__c,BHCG_Display__c,Scan__c,Comments__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:99, Day_Number__c:100, Day_Date__c:102, Day_of_Week__c:107, Medication_1__c:163, Medication_2__c:149, Medication_3__c:155, Medication_4__c:147, E2_Display__c:77, LH_Display__c:88, P4_Display__c:86, FSH_Display__c:96, BHCG_Display__c:97, Scan__c:75, Comments__c:349</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Name:Link, Day_Number__c:Cycle Day, Day_Date__c:Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Copy_2_of_Get_Cycle_Days</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Scan__c:true</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedDay</assignToReference>
                <name>outputSelectedRow</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Add Comment</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Compact</name>
        <label>Display Compact</label>
        <locationX>1458</locationX>
        <locationY>2048</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Routing</targetReference>
        </connector>
        <fields>
            <name>ViewButtons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Compact View&quot;,&quot;value&quot;:&quot;Compact View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:bucket&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Results View&quot;,&quot;value&quot;:&quot;Results View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:advertising&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Expanded View&quot;,&quot;value&quot;:&quot;Expanded View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:button_choice&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Spacer</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CompactTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cycle_Day__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Copy_2_of_Get_Cycle_Days</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Day_Number__c&quot;,&quot;guid&quot;:&quot;column-f8ff&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Day Number&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Day_Date__c&quot;,&quot;guid&quot;:&quot;column-ea1b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Day Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Medications__c&quot;,&quot;guid&quot;:&quot;column-ef15&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Medications&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;E2_Display__c&quot;,&quot;guid&quot;:&quot;column-9874&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;E2&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;E2&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;LH_Display__c&quot;,&quot;guid&quot;:&quot;column-5e40&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;LH&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;LH&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;P4_Display__c&quot;,&quot;guid&quot;:&quot;column-0649&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;P4&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;P4&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;BHCG_Display__c&quot;,&quot;guid&quot;:&quot;column-b7f7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;BHCG&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;BHCG&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Total_Fol_Left_mm__c&quot;,&quot;guid&quot;:&quot;column-c754&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Total Fol Left (mm)&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Total_Fol_Right_mm__c&quot;,&quot;guid&quot;:&quot;column-8ecc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:8,&quot;label&quot;:&quot;Total Fol Right (mm)&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Comments__c&quot;,&quot;guid&quot;:&quot;column-1984&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:9,&quot;label&quot;:&quot;Comments&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Results</name>
        <label>Display Results</label>
        <locationX>1282</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Routing</targetReference>
        </connector>
        <fields>
            <name>ViewButtons1</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Compact View&quot;,&quot;value&quot;:&quot;Compact View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:bucket&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Results View&quot;,&quot;value&quot;:&quot;Results View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:advertising&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Expanded View&quot;,&quot;value&quot;:&quot;Expanded View&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:button_choice&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_Spacer</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_ExpandedTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cycle_Day__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Cycle_Day__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Copy_2_of_Get_Cycle_Days</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Day_Number__c,Day_of_Week__c,Day_Date__c,Medication__c,Comments__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:157, Day_Number__c:91, Day_of_Week__c:247, Day_Date__c:247, Medication__c:247, Comments__c:247</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>628</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Add_Cycle_Days</name>
        <label>Add Cycle Days</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Cycle</targetReference>
        </connector>
        <flowName>Add_Cycle_Days</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ButtonValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedDay</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Day__c</objectType>
    </variables>
</Flow>
