force-app/main/default/flows/New_Pathology_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Object_Name</name>
        <label>Get Object Name</label>
        <locationX>1452</locationX>
        <locationY>542</locationY>
        <actionName>GetRecordTypeFromRecordID</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetRecordTypeFromRecordID</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>50</locationX>
        <locationY>4226</locationY>
        <assignmentItems>
            <assignToReference>BloodandScanLoopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPathologyTests</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathologyName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathologyRequestvar.Scan_Date_and_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScanDateandTimeVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Scan_From_Blood_and_Scan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Created_Pathology_Request_ID</name>
        <label>Assign Created Pathology Request ID</label>
        <locationX>182</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>CreatedPathologyRequestID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PathologyRequestvar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Pathology_Name_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Cycle</name>
        <label>assign Cycle</label>
        <locationX>644</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>PathologyRequestvar.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedCycle.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Date_Time_and_Location_if_Needed</name>
        <label>Assign Date Time and Location if Needed</label>
        <locationX>644</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>PathologyRequestvar.Scan_Date_and_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScanDateandTimeVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathologyRequestvar.Pathology_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PathologyProviderRecordID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Blood_and_Scan_Decision2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Test</name>
        <label>Assign New Test</label>
        <locationX>270</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>PathologyRequestTest.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Pathology.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathologyRequestTest.Test_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Pathology.Test_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathologyRequestTest.Pathology_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PathologyRequestvar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathologyName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TestName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestTypeOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Pathology.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathologyRequestTest.Lab_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Pathology.Test_Lab_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Tests_For_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Path_Request_For_Cycle</name>
        <label>Assign Path Request For Cycle</label>
        <locationX>1634</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>PathologyRequestvar.Patient_Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Patient__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathologyRequestvar.Request_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathologyRequestvar.Requesting_Clinic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathologyRequestvar.Requesting_Doctor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Doctor_Initiating_Cycle__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathologyRequestvar.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedCycle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Record_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Path_Request_For_Patient</name>
        <label>Assign Path Request For Patient</label>
        <locationX>1007</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>PathologyRequestvar.Patient_Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathologyRequestvar.Request_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathologyRequestvar.Requesting_Clinic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient.Account.Household_Clinic__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathologyRequestvar.Requesting_Doctor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient.Treating_Doctor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Active_Cycle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pathology_Name</name>
        <label>Assign Pathology Name</label>
        <locationX>270</locationX>
        <locationY>3818</locationY>
        <assignmentItems>
            <assignToReference>PathologyName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pathology_Template.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Pathology_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Template_to_Selected_Tests</name>
        <label>Assign Template to Selected Tests</label>
        <locationX>402</locationX>
        <locationY>2594</locationY>
        <assignmentItems>
            <assignToReference>SelectedPathologyTests</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Related_Test</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pathology_Tests_From_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tests_For_Creation</name>
        <label>Assign Tests For Creation</label>
        <locationX>270</locationX>
        <locationY>3194</locationY>
        <assignmentItems>
            <assignToReference>TestsForCreation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PathologyRequestTest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Pathology</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reassign_Clinic_and_Doctor</name>
        <label>Reassign Clinic and Doctor and Time</label>
        <locationX>1106</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>PathologyRequestvar.Requesting_Clinic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequestingClinic.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathologyRequestvar.Requesting_Doctor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequestingDoctor.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathologyRequestvar.Pathology_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pathology_Provider.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanDateandTimeVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PathologyRequestvar.Scan_Date_and_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathologyTemplateIDVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choose_Pathology_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Tests_From_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reassign_Clinic_and_Doctor_and_Time_for_Bloods</name>
        <label>Reassign Clinic and Doctor and Time for Bloods</label>
        <locationX>182</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>PathologyRequestvar.Requesting_Clinic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequestingClinicBloods.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathologyRequestvar.Requesting_Doctor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequestingDoctorBloods.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathologyTemplateIDVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Choose_Pathology_Template</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPathologyTests</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Blood_Pathology.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Tests_From_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reassign_Clinic_and_Doctor_and_Time_for_Scans</name>
        <label>Reassign Clinic and Doctor and Time for Scans</label>
        <locationX>50</locationX>
        <locationY>4442</locationY>
        <assignmentItems>
            <assignToReference>PathologyRequestvar.Requesting_Clinic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequestingClinicBloods.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathologyRequestvar.Requesting_Doctor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequestingDoctorBloods.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathologyRequestvar.Pathology_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Copy_1_of_Pathology_Provider.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScanDateandTimeVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PathologyRequestvar.Scan_Date_and_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPathologyTests</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_ScanPathology.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Tests_From_Template</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Blood_and_Scan_Decision2</name>
        <label>Blood and Scan?</label>
        <locationX>644</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Select_Pathology_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Blood_and_Scan_Split</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blood and Scan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blood_From_Blood_and_Scan</targetReference>
            </connector>
            <label>Yes Blood and Scan Split</label>
        </rules>
        <rules>
            <name>Scan_Loop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Here to allow for reroute only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Scan_From_Blood_and_Scan</targetReference>
            </connector>
            <label>Scan Loop</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Template_Used</name>
        <label>Copy 1 of Template Used?</label>
        <locationX>182</locationX>
        <locationY>3710</locationY>
        <defaultConnector>
            <targetReference>Assign_Pathology_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Template_Not_Used</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tests_From_Template</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reroute_to_Scan_Booking</targetReference>
            </connector>
            <label>Copy 1 of Template Not Used</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Active_Cycle</name>
        <label>Has Active Cycle?</label>
        <locationX>1007</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Record_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Active_Cycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Cycle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Cycle</targetReference>
            </connector>
            <label>Yes Active Cycle</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>1452</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Patient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Patient</targetReference>
            </connector>
            <label>Patient</label>
        </rules>
        <rules>
            <name>Cycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cycle__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cycle</targetReference>
            </connector>
            <label>Cycle</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reroute_to_Scan_Booking</name>
        <label>Reroute to Scan Booking</label>
        <locationX>182</locationX>
        <locationY>4118</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scan_Booking_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blood and Scan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BloodandScanLoopCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Count</targetReference>
            </connector>
            <label>Scan Booking Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Template_Used</name>
        <label>Template Used?</label>
        <locationX>182</locationX>
        <locationY>2162</locationY>
        <defaultConnector>
            <targetReference>Get_Pathology_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Template_Not_Used</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tests_From_Template</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Pathology_Request</targetReference>
            </connector>
            <label>Template Not Used</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_Type_Null</name>
        <label>Test Type Null?</label>
        <locationX>1452</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Pathology_Tests</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_No_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TestType</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Pathology_Tests</targetReference>
            </connector>
            <label>Yes No Value</label>
        </rules>
        <rules>
            <name>Blood_and_Scan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blood and Scan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Scan_Pathology</targetReference>
            </connector>
            <label>Blood and Scan</label>
        </rules>
    </decisions>
    <description>Creates a pathology request from the patient or cycle object. Is filterable for tests based on testtype variable.</description>
    <dynamicChoiceSets>
        <name>PathologyTemplates</name>
        <collectionReference>Get_Pathology_Templates</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Task_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>PathologyNameTruncated</name>
        <dataType>String</dataType>
        <expression>LEFT({!PathologyName},80)</expression>
    </formulas>
    <formulas>
        <name>RecordType</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId},5)</expression>
    </formulas>
    <formulas>
        <name>TestName</name>
        <dataType>String</dataType>
        <expression>{!Loop_Selected_Pathology.Name}&amp;&quot;, &quot;</expression>
    </formulas>
    <interviewLabel>New Pathology Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Pathology Request</label>
    <loops>
        <name>Get_Pathology_Tests_From_Template</name>
        <label>Get Pathology Tests From Template</label>
        <locationX>314</locationX>
        <locationY>2378</locationY>
        <collectionReference>Get_Tests_From_Template</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Related_Test</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Pathology_Request</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Pathology</name>
        <label>Loop Selected Pathology</label>
        <locationX>182</locationX>
        <locationY>2978</locationY>
        <collectionReference>SelectedPathologyTests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Test</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Tests</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Pathology_Request</name>
        <label>Create Pathology Request</label>
        <locationX>182</locationX>
        <locationY>2870</locationY>
        <connector>
            <targetReference>Loop_Selected_Pathology</targetReference>
        </connector>
        <inputReference>PathologyRequestvar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Tests</name>
        <label>Create Tests</label>
        <locationX>182</locationX>
        <locationY>3386</locationY>
        <connector>
            <targetReference>Assign_Created_Pathology_Request_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>TestsForCreation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Pathology_Tests</name>
        <label>Copy 1 of Get Pathology Tests</label>
        <locationX>1188</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Object_Name</targetReference>
        </connector>
        <object>Pathology_Test__c</object>
        <outputReference>RefinedPathologyTests</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Test_Type__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Cycle</name>
        <label>Get Active Cycle</label>
        <locationX>1007</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Active_Cycle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Patient.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Blood_Pathology</name>
        <label>Get Blood Pathology</label>
        <locationX>1452</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Object_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Test_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Blood</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pathology_Test__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>1634</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Path_Request_For_Cycle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pathology_Template</name>
        <label>Get Pathology Template</label>
        <locationX>314</locationX>
        <locationY>2270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pathology_Tests_From_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PathologyTemplateIDVar</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pathology_Templates</name>
        <label>Get Pathology Templates</label>
        <locationX>644</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Date_Time_and_Location_if_Needed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Clinic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PathologyRequestvar.Requesting_Clinic__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_ID.RecordTypeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pathology_Tests</name>
        <label>Get Pathology Tests</label>
        <locationX>1716</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Object_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Test_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TestType</elementReference>
            </value>
        </filters>
        <object>Pathology_Test__c</object>
        <outputReference>RefinedPathologyTests</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Test_Type__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient</name>
        <label>Get Patient</label>
        <locationX>1007</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Path_Request_For_Patient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Test</name>
        <label>Get Related Test</label>
        <locationX>402</locationX>
        <locationY>2486</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Template_to_Selected_Tests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pathology_Tests_From_Template.Pathology_Test__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pathology_Test__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Scan_Pathology</name>
        <label>Get Scan Pathology</label>
        <locationX>1452</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Blood_Pathology</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Test_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scan</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pathology_Test__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tests_From_Template</name>
        <label>Get Tests From Template</label>
        <locationX>182</locationX>
        <locationY>2054</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Template_Used</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Task_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PathologyTemplateIDVar</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task_Template_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Pathology_Name</name>
        <label>Update Pathology Name</label>
        <locationX>270</locationX>
        <locationY>3926</locationY>
        <connector>
            <targetReference>Reroute_to_Scan_Booking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedPathologyRequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PathologyNameTruncated</elementReference>
            </value>
        </inputAssignments>
        <object>Pathology_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pathology_Name_1</name>
        <label>Update Pathology Name</label>
        <locationX>182</locationX>
        <locationY>3602</locationY>
        <connector>
            <targetReference>Copy_1_of_Template_Used</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedPathologyRequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PathologyNameTruncated</elementReference>
            </value>
        </inputAssignments>
        <object>Pathology_Request__c</object>
    </recordUpdates>
    <screens>
        <name>Blood_From_Blood_and_Scan</name>
        <label>Blood From Blood and Scan</label>
        <locationX>182</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reassign_Clinic_and_Doctor_and_Time_for_Bloods</targetReference>
        </connector>
        <fields>
            <name>Bloods_Details</name>
            <fieldText>Bloods Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Bloods_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>PathologyRequestvar.Request_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>PathologyRequestvar.Bulk_Bill__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>PathologyRequestvar.Urgent__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Copy_1_of_Choose_Pathology_Template</name>
                    <choiceReferences>PathologyTemplates</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Choose Pathology Template</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TestType</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Scan</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Bloods_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RequestingClinicBloods</name>
                    <extensionName>l_lookup:Lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>Clinics__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordId</name>
                        <value>
                            <elementReference>PathologyRequestvar.Requesting_Clinic__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>RequestingDoctorBloods</name>
                    <extensionName>l_lookup:Lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>Doctor__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordId</name>
                        <value>
                            <elementReference>PathologyRequestvar.Requesting_Doctor__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>primarySearchField</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Blood_Pathology</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Pathology_Test__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pathology Tests</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Blood_Pathology</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-7f96&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Blood Tests&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Pathology Tests Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>578</locationX>
        <locationY>3494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Errortext</name>
            <fieldText>&lt;p&gt;There has been an error please report this to admin. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Scan_From_Blood_and_Scan</name>
        <label>Scan From Blood and Scan</label>
        <locationX>50</locationX>
        <locationY>4334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reassign_Clinic_and_Doctor_and_Time_for_Scans</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_Scan_Details</name>
            <fieldText>Scan Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Copy_1_of_Scan_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Copy_1_of_Pathology_Provider</name>
                    <extensionName>l_lookup:Lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordId</name>
                        <value>
                            <elementReference>PathologyProviderRecordID</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>primarySearchField</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>additionalField</name>
                        <value>
                            <stringValue>Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queryCondition</name>
                        <value>
                            <stringValue>RecordTypeId=&apos;0125g000000affYAAQ&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Pathology Provider</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeHolder</name>
                        <value>
                            <stringValue>Search Pathology Provider</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Copy_1_of_Scan_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>PathologyRequestvar.Scan_Date_and_Time__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TestType</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Scan</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_SelectTests</name>
            <fieldText>&lt;p&gt;Please select the pathology test you would like undertaken from the below table.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_ScanPathology</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Pathology_Test__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Scan Types</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Scan_Pathology</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-db42&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Scan Types&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Pathology Tests Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Cycle</name>
        <label>Select Cycle</label>
        <locationX>644</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assign_Cycle</targetReference>
        </connector>
        <fields>
            <name>activelink</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;This patient has currently active cycles. If you would like to link this request to an active cycle please select the cycle from the table below before proceeding. If you do not select a cycle it will just be linked to the patient record. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cycletable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cycle__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Cycle__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Active_Cycle</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Record_Type_Name_Text__c,Day_1__c,Doctor_Initiating_Cycle_Name_Text__c,Status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:260, Record_Type_Name_Text__c:260, Day_1__c:260, Doctor_Initiating_Cycle_Name_Text__c:260, Status__c:260</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedCycle</assignToReference>
                <name>outputSelectedRow</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Pathology_Screen</name>
        <label>Select Pathology Screen</label>
        <locationX>1106</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reassign_Clinic_and_Doctor</targetReference>
        </connector>
        <fields>
            <name>Select_Pathology_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Pathology_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>PathologyRequestvar.Request_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>PathologyRequestvar.Bulk_Bill__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>PathologyRequestvar.Urgent__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>PathologyRequestvar.Bloods_in_Sydney__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Choose_Pathology_Template</name>
                    <choiceReferences>PathologyTemplates</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Choose Pathology Template</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TestType</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Scan</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Pathology_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RequestingClinic</name>
                    <extensionName>l_lookup:Lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>Clinics__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordId</name>
                        <value>
                            <elementReference>PathologyRequestvar.Requesting_Clinic__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>RequestingDoctor</name>
                    <extensionName>l_lookup:Lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>Doctor__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordId</name>
                        <value>
                            <elementReference>PathologyRequestvar.Requesting_Doctor__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>primarySearchField</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ScanDateandTime</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;The below scan site, date and time information needs only to be filled if the scan is being undertaken offsite. You will be provided with the opportunity to book a nursing scan interview/onsite scan in the next window.  &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TestType</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Scan</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Scan_Details</name>
            <fieldText>Scan Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Scan_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pathology_Provider</name>
                    <extensionName>l_lookup:Lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordId</name>
                        <value>
                            <elementReference>PathologyProviderRecordID</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>primarySearchField</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>additionalField</name>
                        <value>
                            <stringValue>Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queryCondition</name>
                        <value>
                            <stringValue>RecordTypeId=&apos;0125g000000affYAAQ&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Pathology Provider</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeHolder</name>
                        <value>
                            <stringValue>Search Pathology Provider</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Scan_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>PathologyRequestvar.Scan_Date_and_Time__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TestType</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Scan</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SelectTests</name>
            <fieldText>&lt;p&gt;Please select the pathology test you would like undertaken from the below table.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PathologyTests</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Pathology_Test__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Pathology_Test__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Test_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:651, Test_Type__c:651</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>RefinedPathologyTests</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedPathologyTests</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1326</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Test_Type_Null</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Record_ID</name>
        <label>Get Record ID</label>
        <locationX>644</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Get_Pathology_Templates</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Pathology Templates</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>BloodandScanLoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CreatedPathologyRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PathologyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PathologyProviderRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PathologyRequestTest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pathology_Request_Test__c</objectType>
    </variables>
    <variables>
        <name>PathologyRequestvar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pathology_Request__c</objectType>
    </variables>
    <variables>
        <name>PathologyTemplateIDVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RefinedPathologyTests</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pathology_Test__c</objectType>
    </variables>
    <variables>
        <name>SanPathology</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pathology_Test__c</objectType>
    </variables>
    <variables>
        <name>ScanDateandTimeVar</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedCycle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Cycle__c</objectType>
    </variables>
    <variables>
        <name>SelectedPathologyTests</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pathology_Test__c</objectType>
    </variables>
    <variables>
        <name>TestsForCreation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pathology_Request_Test__c</objectType>
    </variables>
    <variables>
        <name>TestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestTypeOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
