force-app/main/default/flows/Quick_Add_Patient_Designed_for_Doctors.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Redirect_Flow_Record_Id_Action_1</name>
        <label>Redirect Flow - Record Id Action 1</label>
        <locationX>176</locationX>
        <locationY>1322</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>PatientVar.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Alert_Email</name>
        <label>Send Alert Email to Admin</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Redirect_Flow_Record_Id_Action_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>sydney.reception@lifefertility.com.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Patient Quick Added</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyTemplate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Household_ID</name>
        <label>Assign Household ID</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>PatientVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HouseholdVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Patient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_and_Household_Record_ID</name>
        <label>Assign Patient and Household Record ID</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>PatientVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patinet_Record_ID.RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HouseholdVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PatientVar.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HouseholdVar.Household_Clinic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Clinic.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HouseholdVar.Household_Doctor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Treating_Doctor.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.Treating_Doctor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Treating_Doctor.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.Treating_Doctor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Doctors.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HouseholdVar.Household_Doctor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Doctors.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Household</targetReference>
        </connector>
    </assignments>
    <description>Quick adds a patient and household, alerts nursing and admin that it has been entered.</description>
    <environments>Default</environments>
    <interviewLabel>Quick Add Patient (Designed for Doctors) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quick Add Patient (Designed for Doctors)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Household</name>
        <label>Create Household</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Assign_Household_ID</targetReference>
        </connector>
        <inputReference>HouseholdVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Patient</name>
        <label>Create Patient</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Update_ACR</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Duplicate</targetReference>
        </faultConnector>
        <inputReference>PatientVar</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Created_Household</name>
        <label>Delete Created Household</label>
        <locationX>440</locationX>
        <locationY>1214</locationY>
        <inputReference>HouseholdVar</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Clinic</name>
        <label>Get Clinic</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Patient_and_Household_Record_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Life</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Clinics__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Treating_Doctor</name>
        <label>Get Treating Doctor</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Patient_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Internal_Doctor_Linkage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Doctor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ACR</name>
        <label>Update ACR</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Send_Alert_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HouseholdVar.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientVar.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <stringValue>Patient</stringValue>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordUpdates>
    <screens>
        <name>Duplicate</name>
        <label>Duplicate</label>
        <locationX>440</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Delete_Created_Household</targetReference>
        </connector>
        <fields>
            <name>exists</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Hi, it looks like this patient already exists, please search for them in the system. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Patient_Details</name>
        <label>Patient Details</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Patinet_Record_ID</targetReference>
        </connector>
        <fields>
            <name>warning</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;This process can only be used to add patients its is not suitable for donors. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PatientVar.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PatientVar.Sex_at_Birth__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PatientVar.Birthdate</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PatientVar.MobilePhone</objectFieldReference>
        </fields>
        <fields>
            <name>Lookup_Doctors</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Doctor_Initiating_Cycle__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Treating Doctor Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Cycle__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Treating_Doctor.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Treating_Doctor</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Household_ID</name>
        <label>Get Household ID</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Clinic</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Regular Patient Household</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Patinet_Record_ID</name>
        <label>Get Patinet Record ID</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_Household_ID</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Patient</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>BodyTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi,
It looks like {!$User.FirstName} {!$User.LastName}, has just quick added the patient {!PatientVar.FirstName} {!PatientVar.LastName}. This means that this record will be missing data that needs to be collected. 
Thanks,
Pario</text>
    </textTemplates>
    <variables>
        <name>HouseholdVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>PatientVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
