force-app/main/default/flows/Update_Fate_on_Embryo_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <collectionProcessors>
        <name>Sort_By_Created_Date</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort By Created Date</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Embryo_Events</collectionReference>
        <connector>
            <targetReference>Loop_events</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CreatedDate</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>Update Fate on Embryo Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Fate on Embryo Event</label>
    <loops>
        <name>Loop_events</name>
        <label>Loop events</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Embryo_Events</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Embryo_Event</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Embryo_Events</name>
        <label>Get Embryo Events</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_By_Created_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Embryo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryo_Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Embryo_Event</name>
        <label>Update Embryo Event</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Loop_events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_events.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cycle_Day_Fate__c</field>
            <value>
                <elementReference>$Record.Fate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Embryo_Cycle_Event__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Embryo_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Embryos__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
